.custom-slider {
    .ngx-slider {
      .ngx-slider-selection {
        background: rgb(255, 255, 0) !important;
      }
    }
  }


  





.ngx-slider-selection {
    background: rgb(255, 255, 0) !important;
  }
  ::ng-deep {
    .custom-slider {
      .ngx-slider {
        .ngx-slider-selection {
          background: rgb(255, 255, 0) !important;
        }
      }
    }
  }