<!-- Empty Cart -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <div><img src="https://www.jumia.com.eg/assets_he/images/cart.668e6453.svg" alt=""></div>
      <div>
        <h6 class="">Your cart is empty!</h6>
      </div>
      <p>Browse our categories and discover our best deals!</p>
      <div> <button class="btn text-white" (click)="startShopping()">Start Shopping</button></div>
  
    </ol>
  </nav>

  <!-- Cart with Items -->
  <div class="row ">
    <div class="card-header bg-white"> <h5>Cart ({{cartNumber}} )</h5></div>
    <div class="card  mb-3 my-4 col-8" style="max-width: 40rem;" *ngFor="let item of cartItems">
     
      <div class="card-body  row">
        <div class="col-3">
          <img src="https://eg.jumia.is/unsafe/fit-in/150x150/filters:fill(white)/product/04/545973/1.jpg?8016">
        </div>
        <div class="col-5 text-warning"><p class="mb-1">{{ item.name }}  {{item.shortDescription}}NIVEA MEN MEN Face, Body & Hands Cream Moisturising, Tin 75ml</p>
        <h6 class="text-secondary mb-1"> {{item.stockQuantity}}In Stock</h6>
        <a href="https://www.jumia.com.eg/nivea-men-men-face-body-hands-cream-moisturising-tin-75ml-37954540.html">  <img src="../../../assets/ProductImg/express.png" style="width: 50%;"></a>
    </div>
        <div class="col-4">
          <h1 class="h5">EGP {{item.realPrice}}</h1>  <!--price After Discount-->
          <div class="row">
            <div class="col-8 "> <p class="text-decoration-line-through">EGP {{item.realPrice}}</p></div>
            <div class="col-4 "><p class="bg-warning">{{item.discount}}%</p></div>
        </div>
        </div>
      </div>
      <div class="card-footer bg-transparent row">
    <div class="col-6" (click)="removeProduct(item)"><p class="text-warning" ><i class="fa-solid fa-trash"></i> <span class="text-uppercase"> Remove</span></p></div>
    <div class="col-6 ">
    <div class="row">
      <div class="col-6 d-flex">
        <button class="btn btn-warning"(click)="decreaseQuantity(item)" type="button"><i class="fa-solid fa-minus text-light"></i></button><p>{{item.cartQuantity}}</p>
      </div>
      <div class="col-6 d-flex">
        <button class="btn btn-warning" (click)="increaseQuantity(item)"><i class="fa-solid fa-plus text-light"></i></button>
    </div>
    </div>
      </div>
    </div>
    </div>
    <!-- cart Sammary  -->
    <div class="col-4 float-end ">
      <div class="card mb-3 my-4" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">CART SUMMARY</li>
          <li class="list-group-item">
            <ul class="d-flex">
              <li class="me-5">Subtotal</li>
              <li>EGP {{TotalCartPrice}}</li>
            </ul>
          </li>
          <ul>
          <li ><p>Missing EGP 151.00 to reach free delivery</p> </li>
          <li> <img src="../../../assets/cart.jpg" style="width: 40%;"></li>
          </ul>
        </ul>
        <div class="card-footer bg-light">
          <button class="btn btn-warning text-light" style="width: 90%;">Checkout (EGP {{TotalCartPrice}} )</button>
        </div>
      </div>
    </div>
    </div>


  <!-- washlistproduct -->
  <div  class="container-fluid mt-5 shadow-sm p-3 mb-5 bg-body rounded " style="background-color: white;">
    <div class="row mb-3  ">
<div class="col"><h1 >Saved Item</h1></div>

<div class="col text-warning" style="text-align: right;">    <a href=""><h4>See All > </h4></a>    </div>       </div>


<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <div class="row">
      <div class="col-3" >
        <div class=" card-hover card d-block w-100" >
        </div>
      </div>
      <div class="col-3">
        @for(pro of wishlistItems;track pro.id;){
        <div class="show-cards-btn card cards-hover" style="width:210px; height: 440px; border: none;">
              <img  [src]="pro.images"  class="card-img-top"alt="Card image"style="width:100%">
          <div class="label-Cards-top px-2">
              <span class="text-white ">Buy 400 get {{pro.discount}} off</span>
          </div>
          <span class=" cards-question"><a href=""><i class="fa fa-question-circle"
                      style="cursor: pointer"></i></a></span>
          <span class=" cards-heart"><a href="#exampleModalToggle" role="button" data-bs-toggle="modal"><i
                      class="fa fa-heart-o" style="cursor: pointer"></i></a>
          </span>
          <div class="card-body">

              <p class="blockquote-footer"><small>{{pro.shortDescription}}</small></p>
              <b><strong>EGP {{pro.realPrice-(pro.realPrice*pro.discount/100)}}</strong></b>

              <ul class="list-inline">
                  <li class="list-inline-item"><small><del>EGP {{pro.realPrice}}</del> </small></li>
                  <li class="list-inline-item offer-cards px-1"><small>-{{pro.discount}}%</small></li>

              </ul>
          

              <div class="hide-btn-cards ">
                  <button class="btn w-100 text-white" (click)="AddToCart(pro)" >Add To Cart</button>
              </div>
          </div>
      </div>
    }
          </div>
    <div class="col-3">
        
                 </div>
        <div class="col-3">
              </div>
    </div>
  </div>
  <div class="carousel-item">
    <div class="row">
      <div class="col-3">
      </div>
      <div class="col-3">

      </div>
      <div class="col-3">
      
      </div>
      <div class="col-3">
      
      </div>
    </div>
   
  </div>
  <!-- Add more carousel items as needed -->
  <button class="carousel-control-prev col-1" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next col-1" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</div>


  
  <!-- Recently Viewed -->
  <!-- <div class="">
    <div class="reco" data-list="lastViewed" pagetype="cart">
      <div class="reco-w card -mtm">
        <header class="-df -fw -pas -i-ctr -mh-48px">
          <h1 class="-phs -fs20 -m -f1 -elli">Recently Viewed<span class="-r" data-plc-subtitle="true"></span></h1><a
            class="-df -i-ctr -fsh0 -upp -m -lh-1 -pvxs -mla -or5" data-plc-href="true" href="/history/?prods=5">SEE
            ALL
            <i class="fa-solid fa-angle-right"></i>
          </a>
        </header>
        <div data-plc="true">
          <div class="row _no-g _6cl-4cm-shs _1ln -paxs">
            <a href="#">
              <div appProductCard class="card" style="width: 10.5rem; ">
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example </p>
                  <h6>EGP 590.00</h6>
                  <div class="bdg _dsct">19%</div>
                  <del> EGP 690.00</del>
  
                </div>
              </div>
            </a>
            <a href="#">
              <div appProductCard class="card" style="width: 10.5rem;">
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example </p>
                  <h6>EGP 590.00</h6>
                  <div class="bdg _dsct">19%</div>
                  <del> EGP 690.00</del>
  
                </div>
              </div>
            </a>
            <a href="#">
              <div appProductCard class="card" style="width: 10.5rem;">
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example </p>
                  <h6>EGP 590.00</h6>
                  <div class="bdg _dsct">19%</div>
                  <del> EGP 690.00</del>
  
                </div>
              </div>
            </a>
            <a href="#">
              <div appProductCard class="card" style="width: 10.5rem;">
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example </p>
                  <h6>EGP 590.00</h6>
                  <div class="bdg _dsct">19%</div>
                  <del> EGP 690.00</del>
  
                </div>
              </div>
            </a>
  
            <a href="#">
              <div appProductCard class="card" style="width: 10.5rem;">
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example </p>
                  <h6>EGP 590.00</h6>
                  <div class="bdg _dsct">19%</div>
                  <del> EGP 690.00</del>
  
                </div>
              </div>
  
            </a>
  
  
  
  
          </div>
        </div>
      </div>
    </div>
  
  </div>
  <br>
  <div class="col16">
    <div class="reco" data-list="lastViewed" pagetype="cart">
      <div class="reco-w card -mtm">
        <header class="-df -fw -pas -i-ctr -mh-48px">
          <h2 class="-phs -fs20 -m -f1 -elli">Top selling items<span class="-r" data-plc-subtitle="true"></span></h2><a
            class="-df -i-ctr -fsh0 -upp -m -lh-1 -pvxs -mla -or5" data-plc-href="true" href="/history/?prods=5">SEE
            ALL
            <i class="fa-solid fa-angle-right"></i>
          </a>
        </header>
        <div data-plc="true">
          <div class="row ">
            <a href="#">
              <div appProductCard class="card" style="width: 10.5rem;">
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example </p>
                  <h6>EGP 590.00</h6>
                  <div class="bdg _dsct">19%</div>
                  <del> EGP 690.00</del>
  
                </div>
              </div>
            </a>
            <a href="#">
              <div appProductCard class="card" style="width: 10.5rem;">
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example </p>
                  <h6>EGP 590.00</h6>
                  <div class="bdg _dsct">19%</div>
                  <del> EGP 690.00</del>
  
                </div>
              </div>
            </a>
            <a href="#">
              <div appProductCard class="card" style="width: 10.5rem;">
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example </p>
                  <h6>EGP 590.00</h6>
                  <div class="bdg _dsct">19%</div>
                  <del> EGP 690.00</del>
  
                </div>
              </div>
            </a>
            <a href="#">
              <div appProductCard class="card" style="width: 10.5rem;">
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example </p>
                  <h6>EGP 590.00</h6>
                  <div class="bdg _dsct">19%</div>
                  <del> EGP 690.00</del>
  
                </div>
              </div>
            </a>
  
            <a href="#">
              <div appProductCard class="card" style="width: 10.5rem;">
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example</p>
                  <h6>EGP 590.00</h6>
                  <del> EGP 690.00</del>
                  <div class="bdg _dsct">19%</div>
  
                </div>
              </div>
            </a>
            <a href="#">
              <div appProductCard class="card" style="width: 10.5rem;">
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example </p>
                  <h6>EGP 590.00</h6>
                  <div class="bdg _dsct">19%</div>
                  <del> EGP 690.00</del>
  
                </div>
              </div>
  
            </a>
  
  
          </div>
        </div>
      </div>
  </div>
  
  </div> -->
   <!-- Recently Viewed -->