
button{
    background-color: #ff9901ea;
}
a{
    color:#ff9901ea
}
    /*style cards by Bahaa */

    .label-Cards-top {
        position: absolute;
        background-color: rgba(255, 115, 0, 0.842);
        color: #fff;
        top: 8px;
        left: 8px;

        font-size: .7rem;
        font-weight: 600;
        border-radius: 3px;
        text-transform: uppercase;
    }

    .offer-cards {
        background-color: rgba(243, 152, 77, 0.397);
        border-radius: 3px;
        color: #ff9901;

    }

    .cards-heart>a {
        position: absolute;
        color: #ffae0069;
        bottom: 220px;
        right: 8px;

    }
.cards-question{
    position: absolute;
        color: #c9c9c9d5;
        bottom: 80px;
        right: 8px;
}
    .cards-heart:hover>a {
        color: #ffae00;
    }

    .cards-question:hover>a{
        color: #ffae00;
}
    .cards-hover:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    }

    .hide-btn-cards {
        display: none;
    }

    .show-cards-btn:hover .hide-btn-cards {
        display: block;
    }

    .stars i {
        color: gold;
        font-size: .9rem;

    }

    /* -------------------------------------------------- */
    .fixed-n-p {
        background-color:rgb(51, 51, 51);
        border-radius: 50%;
        padding: 0;
        margin-top:90px;
      
        width: 3vw;
        height: 3vw;
      }
      .fixed-p-p {
        background-color:rgb(51, 51, 51);
        border-radius: 50%;
        padding: 0;
        margin-top:90px;
      
        width: 3vw;
        height: 3vw;
      }

   .col-slider{
    width: 16%;
  }


   a.linkSidebar:hover{
    font-weight: bold;
   
   }  
   .linkSidebar{
    font-size:1vw;
  
   }
 
   .diccProduct{
    padding: 10px;
  }
  .cards-hover:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
  }
  
.card-img-top{
  width: 90%;
  height: 190px;
}
/* Extra small devices (phones) */
@media only screen and (max-width:590px) {
 
    .col-8{
     width: 100%;
    -webkit-order:2;

    }
    .col-4-sammary{
        width: 100%;
    }
.col-3-cart{
    width: 30%;
}
.col-5-cart{
    width: 100%;
    -webkit-order:2;
    text-align: center;
}
.col-4-cart{
    width: 50%;
    padding: 20px;
}



.diccProduct{
    padding: 1px;
  }
  .label-Cards-top {
   
    background-color: rgba(255, 115, 0, 0.842);
    color: #fff;
    top: 2px;
    left: 2px;

  
 
   
  }

  .col-3-cart{
  width: 50%;
 padding: 5px;
  }

 
  .card-img-top{
    width: 90%;
    height: 60px;
  }

  .fixed-n-p {
     
    margin-top:30px;
  
    width: 3vw;
    height: 3vw;
  }
  
  .row {
    --bs-gutter-x:0rem;


  }
  .card-body {
    flex: 0;
    padding: 0rem 0rem;
}
.blockquote-footer {
    margin-top: 0rem; 
 margin-bottom: 0rem; 
    
}


a:link,
a:visited {

  
  padding: 0px;

  
}
.Link_hover{
  padding: 3px;
}




.diccProduct{
  padding: 1px;
}
.label-Cards-top {
 
  background-color: rgba(255, 115, 0, 0.842);
  color: #fff;
  top: 2px;
  left: 2px;

}

     }
     
     /* Small devices (portrait tablets and large phones) */
     @media only screen and (min-width:600px) and (max-width:885px) {
       
       
     


    .card-img-top{
        width: 90%;
        height: 120px;
      }
    
  
  
  
  
      .fixed-n-p {
       
        margin-top:50px;
      
        width: 3vw;
        height: 3vw;
      }
      
  
      .row {
        --bs-gutter-x:0rem;
    
    
      }
         
      .card-body {
        flex: 0;
        padding: 0rem 0rem;
    }
    .blockquote-footer {
        margin-top: 0rem; 
     margin-bottom: 0rem; 
        
    }
     
     }
     







