<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <div><img src="https://www.jumia.com.eg/assets_he/images/cart.668e6453.svg" alt=""></div>
    <div>
      <h6 class="">Your cart is empty!</h6>
    </div>
    <p>Browse our categories and discover our best deals!</p>
    <div> <button class="btn text-white">Start Shopping</button></div>

  </ol>
</nav>




<div class="">
  <div class="reco" data-list="lastViewed" pagetype="cart">
    <div class="reco-w card -mtm">
      <header class="-df -fw -pas -i-ctr -mh-48px">
        <h1 class="-phs -fs20 -m -f1 -elli">Recently Viewed<span class="-r" data-plc-subtitle="true"></span></h1><a
          class="-df -i-ctr -fsh0 -upp -m -lh-1 -pvxs -mla -or5" data-plc-href="true" href="/history/?prods=5">SEE
          ALL
          <i class="fa-solid fa-angle-right"></i>
        </a>
      </header>
      <div data-plc="true">
        <div class="row _no-g _6cl-4cm-shs _1ln -paxs">
          <a href="#">
            <div appProductCard class="card" style="width: 10.5rem; ">
              <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example </p>
                <h6>EGP 590.00</h6>
                <div class="bdg _dsct">19%</div>
                <del> EGP 690.00</del>

              </div>
            </div>
          </a>
          <a href="#">
            <div appProductCard class="card" style="width: 10.5rem;">
              <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example </p>
                <h6>EGP 590.00</h6>
                <div class="bdg _dsct">19%</div>
                <del> EGP 690.00</del>

              </div>
            </div>
          </a>
          <a href="#">
            <div appProductCard class="card" style="width: 10.5rem;">
              <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example </p>
                <h6>EGP 590.00</h6>
                <div class="bdg _dsct">19%</div>
                <del> EGP 690.00</del>

              </div>
            </div>
          </a>
          <a href="#">
            <div appProductCard class="card" style="width: 10.5rem;">
              <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example </p>
                <h6>EGP 590.00</h6>
                <div class="bdg _dsct">19%</div>
                <del> EGP 690.00</del>

              </div>
            </div>
          </a>

          <a href="#">
            <div appProductCard class="card" style="width: 10.5rem;">
              <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example </p>
                <h6>EGP 590.00</h6>
                <div class="bdg _dsct">19%</div>
                <del> EGP 690.00</del>

              </div>
            </div>

          </a>




        </div>
      </div>
    </div>
  </div>

</div>
<br>
<div class="col16">
  <div class="reco" data-list="lastViewed" pagetype="cart">
    <div class="reco-w card -mtm">
      <header class="-df -fw -pas -i-ctr -mh-48px">
        <h2 class="-phs -fs20 -m -f1 -elli">Top selling items<span class="-r" data-plc-subtitle="true"></span></h2><a
          class="-df -i-ctr -fsh0 -upp -m -lh-1 -pvxs -mla -or5" data-plc-href="true" href="/history/?prods=5">SEE
          ALL
          <i class="fa-solid fa-angle-right"></i>
        </a>
      </header>
      <div data-plc="true">
        <div class="row ">
          <a href="#">
            <div appProductCard class="card" style="width: 10.5rem;">
              <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example </p>
                <h6>EGP 590.00</h6>
                <div class="bdg _dsct">19%</div>
                <del> EGP 690.00</del>

              </div>
            </div>
          </a>
          <a href="#">
            <div appProductCard class="card" style="width: 10.5rem;">
              <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example </p>
                <h6>EGP 590.00</h6>
                <div class="bdg _dsct">19%</div>
                <del> EGP 690.00</del>

              </div>
            </div>
          </a>
          <a href="#">
            <div appProductCard class="card" style="width: 10.5rem;">
              <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example </p>
                <h6>EGP 590.00</h6>
                <div class="bdg _dsct">19%</div>
                <del> EGP 690.00</del>

              </div>
            </div>
          </a>
          <a href="#">
            <div appProductCard class="card" style="width: 10.5rem;">
              <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example </p>
                <h6>EGP 590.00</h6>
                <div class="bdg _dsct">19%</div>
                <del> EGP 690.00</del>

              </div>
            </div>
          </a>

          <a href="#">
            <div appProductCard class="card" style="width: 10.5rem;">
              <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example</p>
                <h6>EGP 590.00</h6>
                <del> EGP 690.00</del>
                <div class="bdg _dsct">19%</div>

              </div>
            </div>
          </a>
          <a href="#">
            <div appProductCard class="card" style="width: 10.5rem;">
              <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example </p>
                <h6>EGP 590.00</h6>
                <div class="bdg _dsct">19%</div>
                <del> EGP 690.00</del>

              </div>
            </div>

          </a>


        </div>
      </div>
    </div>
  </div>

</div>
