<!-- Empty Cart -->
<nav aria-label="breadcrumb " *ngIf="cartNumber === 0">
  <ol class="row breadcrumb m-3 ">
    <div class="d-flex justify-content-center">
      <img src="assets/ProductImg/cart.svg" alt="">
    </div>
    <div>
      <h6 class="p-4 d-flex justify-content-center">{{'cart.Your cart is empty!' | translate}}</h6>
    </div>
    <p class="d-flex justify-content-center">{{'cart.Browse our categories and discover our best deals!' |translate}}</p>
    <div class="d-flex justify-content-center"> 
      <button class="btn btn-warning text-white m-4 " (click)="startShopping()">{{'cart.Start Shopping' |translate}}</button>
    </div>

  </ol>
</nav>

<!-- Cart with Items -->
<div class="row " *ngIf="cartNumber > 0">


 
  <div class="card col-8   my-4 "  >
    <div class="card-header  bg-body">
      <h5>{{'cart.Cart'|translate}} ({{'crat.{{cartNumber}}' | translate}} )</h5>
    </div>
    <div *ngFor="let item of cartItems">
    <div class="row card-body"  >

      <div class="col-3">
        <img src="assets/ProductImg/1.jpg" style="height: 100px;">
      </div>
      <div class="col-5 ">
        <p class="mb-1"><small>{{'cart.{{ item.name }} '|translate}}{{'cart.{{item.shortDescription}}'}}</small> </p>
        <h6 class=" mb-1"><i class="fa fa-exclamation-circle ">
          <small [ngClass]="{'text-success': item.stockQuantity < 5, 'text-danger': item.stockQuantity >= 5}">
            {{ item.stockQuantity < 5 ? item.stockQuantity + ' Unifs Left' : 'Available' }}
        </small> </i> </h6>
        <a href="https://www.jumia.com.eg/nivea-men-men-face-body-hands-cream-moisturising-tin-75ml-37954540.html"> <img
            src="assets/ProductImg/express.jpg" style="width: 40%;"></a>
      </div>
      <div class="col-4 ">
        <div class="row" style="text-align: end;">
          <h1 class="h4 col-12">{{'card.EGP' | translate}} {{item.realPrice}}</h1> <!--price After Discount-->
           <div class="col-12 ">
            <p class="fa"><del>{{'card.EGP' |translate}} {{item.realPrice}}     </del>     
              <strong class="offer-cards p-1">   -{{item.discount}}%</strong> </p>
          </div>
        </div>
      </div>
     
    </div>
    <div class=" bg-transparent row">
      
      <div class="col-6" (click)="removeProduct(item)">
        <p class="text-warning"><i class="fa fa-solid fa-trash"></i> <span class="text-uppercase"> {{'card.Remove' | translate}}</span></p>
      </div>
          <div class="col-6 d-flex justify-content-end ">
            <button class="btn btn-warning btn-sm" (click)="decreaseQuantity(item)" >
              <i class="fa fa-solid fa-minus text-light"></i>
            </button>

            <p class="px-4"><strong>{{item.cartQuantity}}</strong> </p>

            <button class="btn btn-warning btn-sm" (click)="increaseQuantity(item)">
              <i class="fa fa-solid fa-plus text-light"></i>
            </button>
          </div>
          
    </div>
    <hr>
  </div>
 
  </div>





  <!-- cart Sammary  -->
  <div class="col-3 float-end ">
    <div class="card mb-3 my-4" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>{{'card.CART SUMMARY' | translate}}</strong> </li>
        <li class="list-group-item">
          <ul class="d-flex justify-content-start">
            <li class="me-5 ">{{'card.Subtotal' | translate}}</li>
            <li style="text-align:end;"><strong>{{'card.EGP' | translate}} {{TotalCartPrice}}</strong></li>
          </ul>
        </li>
        <ul>
          <li class="m-2">
            <p><small>Missing EGP 151.00 to reach free delivery</small> </p>
          </li>
          <li class="m-2"> <img src="assets/cart.jpg" style="width: 40%;"></li>
        </ul>
      </ul>
      <div class="card-footer  ">
        <button class="btn btn-warning text-light" style="width: 90%;" routerLink="/shippment">{{'card.Checkout'|translate}} ({{'card.EGP' | translate}}
          {{TotalCartPrice}} )</button>
      </div>
    </div>
  </div>
</div>


<!-- washlistproduct -->
<div class="container-fluid mt-5 shadow-sm p-3 mb-5 bg-body rounded " style="background-color: white;">
  <div class="row mb-3  ">
    <div class="col">
      <h1>{{'card.Saved Item'|translate}}</h1>
    </div>

    <div class="col text-warning" style="text-align: right;"> <a href="">
        <h4>{{'card.See All >'|translate}} </h4>
      </a> </div>
  </div>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-3">
            <div class=" card-hover card d-block w-100">
            </div>
          </div>
          @for(pro of wishlistItems;track pro.id;){
          <div class="col-3">
            <div class="show-cards-btn card cards-hover" style="width:210px; height: 300px; border: none;">
              <img class="card-img-top" src="assets/ProductImg/1.jpg" alt="Card image"
              style="height:auto; width: 150px;">
              <!-- <img [src]="pro.images" class="card-img-top" alt="Card image" style="width:100%"> -->
              <div class="label-Cards-top px-2">
                <span class="text-white ">Buy 400 get {{pro.discount}} off</span>
              </div>
              
              <div class="card-body">
                <p class="blockquote-footer"><small>{{pro.shortDescription}}</small></p>
                <b><strong>EGP {{pro.realPrice-(pro.realPrice*pro.discount/100)}}</strong></b>
                <ul class="list-inline">
                  <li class="list-inline-item"><small><del>EGP {{pro.realPrice}}</del> </small></li>
                  <li class="list-inline-item offer-cards px-1"><small>-{{pro.discount}}%</small></li>
                </ul>
                <div class="hide-btn-cards">
                <button class="btn btn-warning w-100 text-white" data-bs-toggle="modal"
                  [attr.data-bs-target]="'#staticBackdrop-' + pro.id">{{'card.Add To Cart'|translate}}</button>
                </div>
              </div>
              <!-- Model -->
              <div class="modal fade" [id]="'staticBackdrop-' + pro.id" data-bs-backdrop="static"
                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog bg-white">
                  <div class="modal-content ">
                    <div class="modal-header">
                      <h5 class="modal-title" id="staticBackdropLabel">{{'card.Please select a variation' |translate}}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                    </div>
                    <div class="modal-body">
                      <div class="center-align">
                        <p>{{'card.Only size fit all' | translate}}</p>
                        <h2><strong>{{'card.EGP' |translate}} {{pro.realPrice}} <del> {{'card.EGP' |translate}} </del></strong></h2>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div class="hide-btn-cards">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="AddToCart(pro)"
                          aria-label="Close">{{'card.Add to cart' |translate}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
            </div>
          </div>
          <button class="carousel-control-prev col-1" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{'card.Previous' |translate}}</span>
          </button>
          <button class="carousel-control-next col-1" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">{{'cart.Next' |translate}}</span>
          </button>
          }
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-success alert-dismissible fade show fixed-top custom-alert" role="alert" id="customAlert" [hidden]="!showAlert1">
  <strong><i class="fa fa-check-circle text-success" id="acc"></i></strong>{{'card.Product Added To Cart Successfully' |translate}}
  <button type="button" class="btn-close" data-bs-dismiss="alert"(click)="closeAlert()" aria-label="Close"></button>
</div>
<div class="alert alert-success alert-dismissible fade show fixed-top custom-alert" role="alert" id="customAlert" [hidden]="!showAlert2">
  <strong><i class="fa fa-check-circle text-success" id="acc"></i></strong>{{'card.Product Removed from Cart Successfully' |translate}}
  <button type="button" class="btn-close" data-bs-dismiss="alert"(click)="closeAlert()" aria-label="Close"></button>
</div>

<!-- Recently Viewed -->
<!-- <div class="">
    <div class="reco" data-list="lastViewed" pagetype="cart">
      <div class="reco-w card -mtm">
        <header class="-df -fw -pas -i-ctr -mh-48px">
          <h1 class="-phs -fs20 -m -f1 -elli">Recently Viewed<span class="-r" data-plc-subtitle="true"></span></h1><a
            class="-df -i-ctr -fsh0 -upp -m -lh-1 -pvxs -mla -or5" data-plc-href="true" href="/history/?prods=5">SEE
            ALL
            <i class="fa-solid fa-angle-right"></i>
          </a>
          <a href="#">
            <div appProductCard class="card" style="width: 10.5rem;">
              <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example </p>
                <h6>EGP 590.00</h6>
                <div class="bdg _dsct">19%</div>
                <del> EGP 690.00</del>

              </div>
            </div>
          </a>
          <a href="#">
            <div appProductCard class="card" style="width: 10.5rem;">
              <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example </p>
                <h6>EGP 590.00</h6>
                <div class="bdg _dsct">19%</div>
                <del> EGP 690.00</del>

              </div>
            </div>
          </a>
          <a href="#">
            <div appProductCard class="card" style="width: 10.5rem;">
              <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example </p>
                <h6>EGP 590.00</h6>
                <div class="bdg _dsct">19%</div>
                <del> EGP 690.00</del>

              </div>
            </div>
          </a>

          <a href="#">
            <div appProductCard class="card" style="width: 10.5rem;">
              <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example </p>
                <h6>EGP 590.00</h6>
                <div class="bdg _dsct">19%</div>
                <del> EGP 690.00</del>

              </div>
            </div>

          </a>




        </div>
      </div>
    </div>
  </div>

</div>
<br>
<div class="col16">
  <div class="reco" data-list="lastViewed" pagetype="cart">
    <div class="reco-w card -mtm">
      <header class="-df -fw -pas -i-ctr -mh-48px">
        <h2 class="-phs -fs20 -m -f1 -elli">Top selling items<span class="-r" data-plc-subtitle="true"></span></h2><a
          class="-df -i-ctr -fsh0 -upp -m -lh-1 -pvxs -mla -or5" data-plc-href="true" href="/history/?prods=5">SEE
          ALL
          <i class="fa-solid fa-angle-right"></i>
        </a>
      </header>
      <div data-plc="true">
        <div class="row ">
          <a href="#">
            <div appProductCard class="card" style="width: 10.5rem;">
              <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example </p>
                <h6>EGP 590.00</h6>
                <div class="bdg _dsct">19%</div>
                <del> EGP 690.00</del>

              </div>
            </div>
          </a>
          <a href="#">
            <div appProductCard class="card" style="width: 10.5rem;">
              <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example </p>
                <h6>EGP 590.00</h6>
                <div class="bdg _dsct">19%</div>
                <del> EGP 690.00</del>

              </div>
            </div>
          </a>
          <a href="#">
            <div appProductCard class="card" style="width: 10.5rem;">
              <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example </p>
                <h6>EGP 590.00</h6>
                <div class="bdg _dsct">19%</div>
                <del> EGP 690.00</del>

              </div>
            </div>
          </a>
          <a href="#">
            <div appProductCard class="card" style="width: 10.5rem;">
              <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example </p>
                <h6>EGP 590.00</h6>
                <div class="bdg _dsct">19%</div>
                <del> EGP 690.00</del>

              </div>
            </div>
          </a>

          <a href="#">
            <div appProductCard class="card" style="width: 10.5rem;">
              <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example</p>
                <h6>EGP 590.00</h6>
                <del> EGP 690.00</del>
                <div class="bdg _dsct">19%</div>

              </div>
            </div>
          </a>
          <a href="#">
            <div appProductCard class="card" style="width: 10.5rem;">
              <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/97/163605/1.jpg?7610"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Some quick example </p>
                <h6>EGP 590.00</h6>
                <div class="bdg _dsct">19%</div>
                <del> EGP 690.00</del>

              </div>
            </div>

          </a>


        </div>
      </div>
    </div>
  </div>
  
  </div> -->
<!-- Recently Viewed -->