<div  class="container-fluid ">
    <div class="row justify-content-md-center">
        <div class="col-5 align-items-center text-center">
          <form >
            <div class="logo mb-3 align-items-center ">
                <img src="img/star.png" alt="" style="width: 12%;" >
            </div>
            <div class=" mt-2 mb-3 ">
               <h1>Welcome to Jumia</h1>
               <p>Type your e-mail or phone number to log in or create a Jumia account.</p>
            </div>
            <div class="field">
                <label>
       
                 <input type="text" placeholder=" ">
                 <p>Enter Your Name</p>
               </label>
             </div>

            <div class="mt-5">
                <button class="btn-Cont  " >Continue</button>
            </div>
            <div class=" mb-5">
                <p>By continuing you agree to Jumia’s</p>
                <a  class="text-warning "href="https://my.jumia.com.eg/interaction/yBqhTo1NvHieltXlZ3niU/en-eg/terms-and-conditions" target="_blank">By continuing you agree to Jumia’s</a>
            </div>


            <div class=" mb-5">
                <button type="button" class="btn-Login ">Login with passkey</button>
            </div>

            <div class=" mb-5">
              
                <button type="button" class="btn btn-primary" style="background-color: rgb(54, 54, 230); width: 80%;"><i class="fab fa-facebook-f"></i><span>  Login with facebook</span></button>
          

            </div>
     
            <div class="mb-3">
                <p>For further support, you may visit the Help Center or contact our customer service team.</p>
            </div>
            <div class="mb-3 ">
                <img src="img/JumiaLogo.png" style="width: auto; height: 15px;" >
            </div>

          </form>
</div>
</div>
</div>