
.AddressForm{
  border: 2px solid #fff;
  background-color: #fff;
  border-radius: 5px;
  padding: 1%;;
}


.checkedSigh{
    color: #a3a3a6;
    background-color: #fff;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 5px;
    box-shadow: 0 0 0 0#a3a3a6;}

    .section1{
    border: 1px solid #eee;
    }
    .smallText{
        font-size: 12px;
    }
    .text-warning {
        color:  rgba(255, 115, 0, 0.842) !important; 
      }
      .save{
        background-color: rgba(255, 115, 0, 0.842)  !important ;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5); 
      }
      .rtl {
        direction: rtl;
      }
      .bton-order{
        background-color: rgb(51, 51, 50);
      }
      .ltr .delivery {
        text-align: left !important;
    }
      .rtl .delivery {
        text-align: right !important;
    }
    .rtl .starright{
      float: right;
      margin-right: -1em !important;
      margin-left: 0.5em !important;
    }
    .rtl .channge{
      text-align: left !important;
    }
    .rtl .reverse{
     transform:scaleX(-1);
    }
    .rtl .track{
      float: left;
      transform:scaleX(-1);
    }

      /* xtra small devices (phones)  */
@media only screen and (max-width:590px) {
  
 .col-4{
  width: 100%;
 }
 .col-8{
  width: 100%;
  -webkit-order:2;
 }
  .col-5{
    width: 90%;
   
  }
  .col-md-2{
    width: 30%;
  }
  .col-md-10{
    width: 70%;
  }
 
  }
  
  /* Small devices (portrait tablets and large phones) */
  @media only screen and (min-width:600px) and (max-width:885px) {
    .col-4{
      width: 100%;
     }
     .col-8{
      width: 100%;
      -webkit-order:2;
     }
     .col-md-2{
      width: 30%;
    }
    .col-md-10{
      width: 70%;
    }
  }
  