<!-- Order  when no item (heba)-->
<div  [class.rtl]="isArabic">
<div class="container-fluid" >
    <div class="row ">
        <div class="col-3 side-detels col-md shadow-sm rounded m-2 bg-body">
    
    
          <div class="row  rounded">
            <div class="col-12"><strong class="px-2">My Jumia Account</strong></div>
            <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Order</small></a>
            <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Inbox</small></a>
            <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Review</small></a>
            <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Voucher</small></a>
            <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Saved Item</small></a>
            <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Follower Seller</small></a>
            <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Recent View</small></a>
            <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Account Management</small></a>
            <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Adress Book</small></a>
            <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Newsletter Prefrences</small></a>
            <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Close Account</small></a>
          </div>
    
        </div>
        <!-- body -->
       
        <!-- if there is order item -->
        <div class="col-8 body-detels card-col col-md shadow-sm rounded m-2 bg-body" >
            <ul class="list-group list-group-flush">
                <li class="list-group-item fs-3"><strong>{{'orderitem.Order Details' | translate}}</strong></li>
                <li class="list-group-item ">
                    <ul  style="color: rgb(145, 143, 140);" >
                        <li class="text-dark  row" ><strong class="col-6">{{'orderitem.Order' | translate}} :</strong>  <span class="col-6">{{ordId}} </span> </li>             
                        <li class="row"><strong class="col-6">{{'orderitem.Items' | translate}}</strong> <span class="col-6">{{ItemsNumber}} </span>   </li>      
                        <li class="row"><strong class="col-6">{{'orderdetails.Created Date' | translate}}</strong>   <span class="col-6"> {{order.createdDate | date: 'dd-MM-yyyy'}}</span> </li>             
                        <li class="row"><strong class="col-6">{{'orderdetails.Total PriceE' | translate}}</strong>  <span class="col-6">  {{order.totalOrderPrice}}</span> </li>             
       
                  </ul>
                  <br>
                  <h2  style="font-weight: 700;">{{'orderitem.ITEMS IN YOUR ORDER'|translate}}</h2>
                </li>
               
                @for(ord of OrderItems;track ord.id;){
                <li class="mt-2 border rounded"  >
                  <div class="card-body  row ">
                     <div class="col-3">
                        <div class="d-flex justify-content-center">
                        <img [src]="ord.images" style="border-radius: 50%; height: 150px; width: auto;" title="orerI">
                        </div>
                      </div>
                      <div class="col-9 "><p class="mb-1"> </p>
                         <h1 class="row"><strong class="col-4">{{'orderitem.Delivered between'|translate}} : </strong><span class="col-8 side-card">{{ increaseDate(5).dayName }} {{ increaseDate(5).dayNumber }} {{ increaseDate(5).monthName }}
                            {{'orderitem.and'|translate}} {{ increaseDate(10).dayName }} {{ increaseDate(10).dayNumber }} {{ increaseDate(10).monthName }}</span>  </h1>
                    
                        <h5 class="text-dark row"><strong class="col-4">product Name : </strong><span class="col-8 side-card">{{isArabicLanguage() ? ord.productNameAr : ord.productName }}</span></h5>
                        <h6 class="text-dark row"><strong class="col-4">product Discription : </strong><span class="col-8 side-card"> {{ord.productDiscription}}</span></h6>
                      <p class="text-secondary row"><strong class="col-4">{{'orderitem.QTY' | translate}} : </strong><span class="col-8 side-card">{{ord.productQuantity}}</span> </p>
                      <h1 class="h6 row"><strong class="col-4">{{'orderitem.Total Price' | translate}} : </strong> <span class="col-8 side-card"> EGP {{ord.totalPrice}}</span></h1></div>
                      
                    </div>
                </li>
            }
            <br>
            <div class="row ">
             
                <div class="card col-md-5 p-0 m-2">
                  <h5 class="card-header"><strong>{{'orderitem.PAYMENT INFORMATION'| translate}}</strong></h5>
                  <div class="card-body">
                    <div>
                      <h3 style="font-weight: 700;" >{{'orderitem.Payment Method'| translate}}</h3>
                      <p style="color: rgb(145, 143, 140);">{{'orderitem.Pay by'| translate}} {{getPaymentStatusWord()}} </p>
                 
                  </div>
                  <div>
                      <h3 style="font-weight: 700;" >{{'orderitem.Payment Details'|translate}}</h3>
                      <p style="color: rgb(145, 143, 140);">{{'orderitem.Total Amount EGP'|translate}} {{order.totalOrderPrice}} </p>
                       <p style="color: rgb(145, 143, 140);">{{'orderitem.Delivery Fees 35 EGP'|translate}}  </p>
                 
                  </div>
                   
                  </div>
                </div>
             
     
                <div class="card col-md-6 p-0 m-2">
                  <h5 class="card-header "><strong>{{'orderitem.DELIVERY INFORMATION'|translate}}</strong></h5>
                  <div class="card-body">
                    <div>
                      <h3 style="font-weight: 700;" >{{'orderitem.Delivery Method'|translate}}</h3>
                      <p style="color: rgb(145, 143, 140);">{{'orderitem.Door Delivery'|translate}}</p>                       
                  </div>
                  <div>
                      <h3 style="font-weight: 700;" >{{'orderitem.Shipping Address'|translate}}</h3>
                      <p style="color: rgb(145, 143, 140);">{{shippment.firstNameEn}} {{shippment.lastName}}</p>
                       <p style="color: rgb(145, 143, 140);">{{shippment.phoneNumber}}</p>
                         <p style="color: rgb(145, 143, 140);">{{shippment.city}} | {{shippment.region}}</p>  
                         <p style="color: rgb(145, 143, 140);">{{shippment.address}} | {{shippment.adressInformation}}</p>                     
                  </div>
                  </div>
                </div>
             

            </div>
            

            
            <!-- <div class="container-fluid" >
                 <div class="row ">
                    <div class="col border rounded">
                        <h2 style="font-weight: 700; padding: 10px;" >{{'orderitem.PAYMENT INFORMATION'| translate}}</h2>
                        <div>
                            <h3 style="font-weight: 700;" >{{'orderitem.Payment Method'| translate}}</h3>
                            <p style="color: rgb(145, 143, 140);">{{'orderitem.Pay by'| translate}} {{getPaymentStatusWord()}} </p>
                       
                        </div>
                        <div>
                            <h3 style="font-weight: 700;" >{{'orderitem.Payment Details'|translate}}</h3>
                            <p style="color: rgb(145, 143, 140);">{{'orderitem.Total Amount EGP'|translate}} {{order.totalOrderPrice}} </p>
                             <p style="color: rgb(145, 143, 140);">{{'orderitem.Delivery Fees 35 EGP'|translate}}  </p>
                       
                        </div>
                    </div>
                    <div class="col border rounded">
                        <h2 style="font-weight: 700; padding: 10px;">{{'orderitem.DELIVERY INFORMATION'|translate}}</h2>
                         <div>
                            <h3 style="font-weight: 700;" >{{'orderitem.Delivery Method'|translate}}</h3>
                            <p style="color: rgb(145, 143, 140);">{{'orderitem.Door Delivery'|translate}}</p>                       
                        </div>
                        <div>
                            <h3 style="font-weight: 700;" >{{'orderitem.Shipping Address'|translate}}</h3>
                            <p style="color: rgb(145, 143, 140);">{{shippment.firstNameEn}} {{shippment.lastName}}</p>
                             <p style="color: rgb(145, 143, 140);">{{shippment.phoneNumber}}</p>
                               <p style="color: rgb(145, 143, 140);">{{shippment.city}} | {{shippment.region}}</p>  
                               <p style="color: rgb(145, 143, 140);">{{shippment.address}} | {{shippment.adressInformation}}</p>                     
                        </div>
                    </div>
                    
                </div> 
            </div> -->
            <br>
            @if(order.status<2){
            <button class="btn me-2" (click)="cancelOrder()" >{{'orderitem.Cancel Order' | translate}}</button>
          }@else{
            <button class="btn me-2 hidden" (click)="cancelOrder()" >{{'orderitem.Cancel Order' | translate}}</button>
         
          }
           
            </ul>
                    </div>
        <!-- end -->
    </div>
</div>



<!-- <div class=" alert-success alert-dismissible fixed-top custom-alert text-center"  id="customAlert" [hidden]="!showAlert">
    <div class="text">Your order is shipped you can't Cancel it</div>
    <button type="button" class="btn-close" (click)="closeAlert()" aria-label="Close"></button>
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
    
  </div> -->

  <div class="alert alert-danger alert-dismissible fade show fixed-top custom-alert" role="alert" id="customAlert" [hidden]="!showAlert1" [class.rtl]="isArabic">
    <strong>{{'orderitem.Sorry' | translate}}</strong> {{'orderitem.you Cant Cancel This order' | translate}}
    <button type="button" class="btn-close bg-info" data-bs-dismiss="alert"(click)="closeAlert()" aria-label="Close">
        <i class="fa fa-times-circle text-danger" id="close"></i>
    </button>
  </div>

  <div class="alert alert-success alert-dismissible fade show fixed-top custom-alert" role="alert" id="customAlert" [hidden]="!showAlert2" [class.rtl]="isArabic">
    <strong><i class="fa fa-check-circle text-success " id="acc"></i></strong> {{'orderitem.Your Order Is Cancelled' | translate}}
    <button type="button" class="btn-close bg-info" data-bs-dismiss="alert"(click)="closeAlert()" aria-label="Close">
        <i class="fa fa-times-circle text-success" id="close"></i>
    </button>
  </div>

</div>