button:hover{
    background-color:  rgba(253, 130, 29, 0.842);
    color: #fff;
    box-shadow: 2px 3px 3px 2px #eee;
}
button{
    color: #fff;
    background-color:  rgba(255, 115, 0, 0.842);
    box-shadow: 2px 2px 2px 2px #eee;
}
/* .custom-alert {
    height: 40px; 
    background-color: #40be27; 
    color: #ffffff; 
    border-color: #4CAF50; 
    text-align: center;
  }
  .custom-alert div {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0%;
  } */