<div class="container-fluid ">
  <div class="row justify-content-md-center">
    <div class="col-6 align-items-center text-center">
      <form class="row g-3 inner "
        (submit)="register(user.userName,user.email,user.password,user.confirmpass,user.phonenumber)"
        #registerForm="ngForm">

        <div class="logo mb-3 d-flex justify-content-center ">
          <img src="assets/FooterImg/star.png" alt="" style="width: 12%;">
        </div>
        <div class=" mt-2 mb-3 ">
          <h1><strong>W E L C O M E T O J U M I A</strong> </h1>
          <p>Type your e-mail or phone number to log in or create a Jumia account.</p>
        </div>

        <div class="field">
          <label>
            <input type="text" class="form-control input" id="floatingInput" placeholder="" required
              pattern="^[a-zA-Z]{3,50}$" #UserName="ngModel" name="userName" [(ngModel)]="user.userName">
            <p>Enter Your Name *</p>
          </label>
          <div id="emailHelp" class="form-text text-danger" [hidden]="UserName.valid || UserName.untouched">
            @if(UserName.errors?.['required']){
            <p>Required</p>
            }
            @if(UserName.errors?.['pattern']){
            <p>Your name should be between 3 and 50 characters long and contain only letters.</p>
            }
          </div>
        </div>

        <div class="field">
          <label>

            <input type="email" class="form-control input" id="floatingInput" placeholder="name@example.com" required
              pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" #email="ngModel" [(ngModel)]="user.email"
              name="email">
            <p>email *</p>
          </label>
          <div id="emailHelp" class="form-text text-danger" [hidden]="email.valid || email.untouched">
            @if(email.errors?.['required']){
            <p>Required</p>
            }
            @if(email.errors?.['pattern']){
            <p>Invalid email</p>
            }
          </div>
        </div>


        <div class="field">
          <label>

            <input type="password" class="form-control input " id="floatingPassword" placeholder="Password" required #pass="ngModel" name="password" [(ngModel)]="user.password">
            <p>password *</p>
          </label>
          <div id="emailHelp" class="form-text text-danger" [hidden]="pass.valid || pass.untouched">
            @if(pass.errors?.['required']){
            <p>Required</p>
            }
            @if(pass.errors?.['pattern']){
            <p>Enter Valid Password.</p>
            }
          </div>
        </div>


        <div class="field">
          <label>

            <input type="password" class="form-control input" id="floatingPassword" placeholder="Password" required
              #confirmpass="ngModel" name="confirmpass" [(ngModel)]="user.confirmpass">
            <p>Confirm password *</p>
          </label>
          <div id="emailHelp" class="form-text text-danger" [hidden]="confirmpass.valid || confirmpass.untouched">
            @if(confirmpass.errors?.['required']){
            <p>Required</p>
            }
            @if(confirmpass.errors?.['pattern']){
            <p>InValid .</p>
            }
          </div>
        </div>


        <div class="field">
          <label>

            <input type="text" class="form-control input" id="floatingInput" placeholder="phonenumber" required
              #phonenumber="ngModel" name="phonenumber" [(ngModel)]="user.phonenumber" pattern="^^01[0-9]{9}$">
            <p>Phone Number *</p>
          </label>
          <div id="emailHelp" class="form-text text-danger" [hidden]="phonenumber.valid || phonenumber.untouched">
            @if(phonenumber.errors?.['required']){
            <p>Required</p>
            }
            @if(phonenumber.errors?.['pattern']){
            <p>InValid .</p>
            }
          </div>
        </div>


        <input type="text" hidden name="id">
        <div class="mt-5">
          <button class="btn-Cont" [disabled]="registerForm.invalid">REGISTER</button>
        </div>
        <div class=" mb-5 my-3 h5">
          <!-- <p>By continuing you agree to Jumia’s</p> -->
          <a class="text-warning" routerLink="/SignIn">Forget Your Password?</a>
        </div>
        <div class="mb-3">
          <p>For further support, you may visit the Help Center or contact our customer service team.</p>
        </div>
        <div class="mb-3 d-flex justify-content-center  ">
          <img src="assets/FooterImg/JumiaLogo.png" style="width: auto; height: 15px;">
        </div>

      </form>
    </div>
  </div>
</div>




