<div class="container-fluid">

  <div class="row ">
    <div class="col-3 col-md shadow-sm rounded m-2 bg-body">


      <div class="row  rounded">
        <div class="col-12"><strong class="px-2">My Jumia Account</strong></div>
        <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Order</small></a>
        <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Inbox</small></a>
        <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Review</small></a>
        <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Voucher</small></a>
        <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Saved Item</small></a>
        <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Follower Seller</small></a>
        <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Recent View</small></a>
        <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Account Management</small></a>
        <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Adress Book</small></a>
        <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Newsletter Prefrences</small></a>
        <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Close Account</small></a>
      </div>

    </div>
    <div class="col-8 col-md shadow-sm rounded m-2 bg-body">

      <div class="row  rounded">
        <div class=" cpl-12 m-3">
          <h1 class="fw-bold">Account Overview</h1>
        </div >
       <hr>

       
            
            <div class="row my-3 mx-1">
              
                <div class="col-6 ">
                    <div class="card h-100" >
                        <div class="card-header bg-transparent ">Account details</div>
                        <div class="card-body ">
                            <p class="card-text">Name</p>
                          <p class="card-text">Yhhhffhmail.com.</p></div>
                          <div class="card-body bg-transparent">
                        </div>
                      </div>
                </div>
                <div class="col-6">
                    <div class="card h-100" >
                        <div class="card-header bg-transparent ">Address Book</div>
                        <div class="card-body ">
                          <p class="card-text">Your default shipping address:</p>
                        <p class="card-text">No default shipping address available.</p></div>
                          <div class="card-body bg-transparent">
                          <a href="https://www.jumia.com.eg/customer/address/create/" class="text-warning text-decoration-none card-text">Add default address</a>
                        </div>
                      </div>
                </div>
              </div>



              <div class="row my-3 mx-1">
                <div class="col-6">
                    <div class="card h-100" >
                        <div class="card-header bg-transparent">JUMIA STORE CREDIT</div>
                        <div class="card-body ">
                            <i class="fa fa-solid fa-credit-card p-2"></i>   <span class="card-text">Jumia Pay Balance:EGP 0.00</span>
                        </div>
                      </div>
                </div>


                <div class="col-6">
                    <div class="card h-100" >
                        <div class="card-header bg-transparent ">Newsletter preferences</div>
                        <div class="card-body ">
                          <p class="card-text">You are currently not subscribed to any of our newsletters.</p></div>
                          <div class="card-body bg-transparent">
                          <a href="https://www.jumia.com.eg/customer/newsletter/manage/" class="text-warning text-decoration-none card-text">Edit Newsletter preferences</a>
                        </div>
                      </div>
                </div>
              </div>
       
    </div>
    
  </div>










  <!-- slider -->
  <div class="container-fluid mt-5 shadow-sm p-3 mb-5 bg-body rounded " style="background-color: white;">
    <div class="row mb-3  ">
      <div class="col">
        <h1>Top Selling Item</h1>
      </div>

      <div class="col text-warning" style="text-align: right;"> <a href="">
          <h4>See All > </h4>
        </a> </div>
    </div>


    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-3">
              <div class=" card-hover card d-block w-100">
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/45/125043/1.jpg?7670"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build of the card's content.</p>
                  <br>
                  <h6>EGP 1,5060</h6>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card-hover   card d-block w-100">
                <div style="position: absolute;right: 5px; background-color: bisque;">-26%</div>
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/60/574093/1.jpg?4640"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Eva Care Skin Care Senses Body Splash</p>
                  <h6>EGP 152.00</h6>
                  <p style="text-decoration: line-through;">EGP 205.00</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card-hover card d-block w-100">
                <div style="position: absolute;right: 5px; background-color: bisque;">-37%</div>
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/44/532722/1.jpg?6899"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Axe Body Spray for Men Black Night 150ML</p>
                  <h6>EGP 79.00</h6>
                  <p style="text-decoration: line-through;">EGP 126.00</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card-hover card d-block w-100">
                <div style="position: absolute;right: 5px; background-color: bisque;">-20%</div>
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/51/007016/1.jpg?7116"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">LC Waikiki Crew Neck Printed Boy Pajama.</p>
                  <h6>EGP 359.00</h6>
                  <p style="text-decoration: line-through;">EGP 449.00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-3">
              <div class=" card-hover card d-block w-100">
                <div style="position: absolute;right: 5px; background-color: bisque;">-30%</div>
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/50/988394/1.jpg?1139"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Defacto Woman Oversize Fit Shirt Neck Woven </p>
                  <h6>EGP 489.00</h6>
                  <p style="text-decoration:line-through;">EGP 699.00</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card d-block w-100">
                <div style="position: absolute;right: 5px; background-color: bisque;">-49%</div>
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/88/254344/1.jpg?8886"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Caesar Wool Mens Pullover With Multi Design</p>
                  <h6>EGP 228.00</h6>
                  <p style="text-decoration:line-through;">EGP 450.00</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card d-block w-100">
                <div style="position: absolute;right: 5px; background-color: bisque;">-49%</div>
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/48/100685/1.jpg?8888"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Caesar Wool Mens Pullover With Multi Design</p>
                  <h6>EGP 228.00</h6>
                  <p style="text-decoration:line-through;">EGP 450.00</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card d-block w-100">
                <div style="position: absolute;right: 5px; background-color: bisque;">-49%</div>
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/51/095712/1.jpg?8181"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Caesar Wool Mens Pullover With Multi Design</p>
                  <h6>EGP 228.00</h6>
                  <p style="text-decoration:line-through;">EGP 450.00</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- Add more carousel items as needed -->
        <button class="carousel-control-prev col-1" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next col-1" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <!-- slider -->
  <div class="container-fluid  mt-5  shadow-sm p-3 mb-5 bg-body rounded" style="background-color: white;">
    <div class="row mb-3 ">
      <div class="col">
        <h3>Recently view</h3>
      </div>

      <div class="col text-warning" style="text-align: right;"> <a href="">
          <h4>See All > </h4>
        </a> </div>
    </div>

    <div id="myCarousel" class="carousel slide " data-bs-ride="carousel">

      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="row">
            <div class="col-3">
              <div class="card-hover  card d-block w-100">
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/45/125043/1.jpg?7670"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build of the card's content.</p>
                  <br>
                  <h6>EGP 1,5060</h6>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card-hover   card d-block w-100">
                <div style="position: absolute;right: 5px; background-color: bisque;">-26%</div>
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/60/574093/1.jpg?4640"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Eva Care Skin Care Senses Body Splash</p>
                  <h6>EGP 152.00</h6>
                  <p style="text-decoration: line-through;">EGP 205.00</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card-hover  card d-block w-100">
                <div style="position: absolute;right: 5px; background-color: bisque;">-37%</div>
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/44/532722/1.jpg?6899"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Axe Body Spray for Men Black Night 150ML</p>
                  <h6>EGP 79.00</h6>
                  <p style="text-decoration: line-through;">EGP 126.00</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card-hover   card d-block w-100">
                <div style="position: absolute;right: 5px; background-color: bisque;">-20%</div>
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/51/007016/1.jpg?7116"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">LC Waikiki Crew Neck Printed Boy Pajama.</p>
                  <h6>EGP 359.00</h6>
                  <p style="text-decoration: line-through;">EGP 449.00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-3">
              <div class="card d-block w-100">
                <div style="position: absolute; background-color: bisque;">-30%</div>
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/50/988394/1.jpg?1139"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Defacto Woman Oversize Fit Shirt Neck Woven </p>
                  <h6>EGP 489.00</h6>
                  <p style="text-decoration:line-through;">EGP 699.00</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card d-block w-100">
                <div style="position: absolute; background-color: bisque;">-49%</div>
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/88/254344/1.jpg?8886"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Caesar Wool Mens Pullover With Multi Design</p>
                  <h6>EGP 228.00</h6>
                  <p style="text-decoration:line-through;">EGP 450.00</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card d-block w-100">
                <div style="position: absolute; background-color: bisque;">-49%</div>
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/48/100685/1.jpg?8888"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Caesar Wool Mens Pullover With Multi Design</p>
                  <h6>EGP 228.00</h6>
                  <p style="text-decoration:line-through;">EGP 450.00</p>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="card d-block w-100">
                <div style="position: absolute; background-color: bisque;">-49%</div>
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/51/095712/1.jpg?8181"
                  class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Caesar Wool Mens Pullover With Multi Design</p>
                  <h6>EGP 228.00</h6>
                  <p style="text-decoration:line-through;">EGP 450.00</p>
                </div>
              </div>
            </div>
          </div>

        </div>
        