@using Jumia.Dtos.Specification
@using Jumia.Dtos.SubCategorySpecifications
@* @model ResultDataForPagination<GetAllSpecificationDto> *@
@model ResultView<CreateOrUpdateSubCategorySpecificationDto>


<form>
    <input type="type" name="name" value="" asp-for="Entity.SubCategoryId" />
<ul class="ks-cboxtags">
        @foreach (var spec in ViewBag.spec)
    {
        <li>
                <input type="checkbox" name="SelectedSpec" value="@spec" id="spec_@spec.Name" asp-for="Entity.SelectedSpecification">
                <label for="spec_@spec.Name">@spec.Name</label>
        </li>

    }
</ul>

    <div class="title">6-@AdminDashBoard.Languages.Resource.Submit:</div>
    <button class="submit">@AdminDashBoard.Languages.Resource.Submit</button>

</form>