

<div class="row bg-body rounded  row-cols-1 row-cols-md-4 g-4" [class.rtl]="isArabic">
    <div class="col-12 p-3 " [class.rtl]="isArabic">
        <div class="row">
            <div class="col-8"><b></b></div>
            <!-- <strong>{{'product.Womens Sweaters' | translate}}</strong> -->
            <div class="col-4  ">
                <form class="form">
                
                    <div class="row">
                        
                            <div class="col-3 ">
                                <p for="sort" class="float-end text-secondary h5"><strong>{{'product.sortbY:' | translate}}</strong></p>
                            </div>
                            <div class="col-8">
                                <select class="form-control mx-sm-3 " id="sort" (change)="onSortChange($event)">
                                    <option value="allProducts">{{'product.All' | translate}}</option>
                                    <option value="PriceLowToHigh">{{'product.Price: Low to High' | translate}}</option>
                                    <option value="PriceHighToLow">{{'product.Price: High to Low' | translate}}</option>
                                    <option value="NewestArrivals">{{'product.Newest Arrivals' | translate}}</option>
                                </select>
                            </div>
                           
                        
                    </div>
                
                
                
                </form>
            </div>
        </div>
    </div>

    @for(pro of products;track pro.id;){
    <div class="clo-2 pro-cart" [class.rtl]="isArabic">
        <div class="show-cards-btn card cards-hover" style=" border: none;"  >
            <img class="card-img-top" src="../../../assets/ProductImg/1.jpg" alt="Card image"
                style="width:100%">
            <!-- <img  [src]="pro.images[0]"  class="card-img-top"alt="Card image"style="width:100%">-->
            <div class="label-Cards-top px-2"> 
                <span class="text-white ">{{'product.Buy 400 get' | translate}} {{pro.discount}} {{'product.off' | translate}}</span>
            </div>
            <span class=" cards-question" (click)="navigateToDetails(pro.id)"><a ><i class="fa fa-question-circle"
                        style="cursor: pointer"></i></a></span>
                        <span class="cards-heart">
                            <a [href]="'#Model'+pro.id" role="button" data-bs-toggle="modal">
                                <i class="fa"
                                   [ngClass]="{'fa-heart-o': !isInWishlist(pro), 'fa-heart': isInWishlist(pro), 'text-warning': isInWishlist(pro), 'shadow': isInWishlist(pro)}"
                                   style="cursor: pointer">
                                </i>
                            </a>
                        </span>
            <div class="card-body">
                <p>{{ isArabicLanguage() ? pro.nameAr : pro.name }}</p>
                <p class=""><small>{{pro.shortDescription}}</small></p>
                <b><strong>{{'product.EGP' | translate}} {{pro.realPrice-(pro.realPrice*pro.discount/100)}}</strong></b>
                <ul class="list-inline">
                    <li class="list-inline-item"><small><del>{{'product.EGP' | translate}} {{pro.realPrice}}</del> </small></li>
                    <li class="list-inline-item offer-cards px-1"><small>-{{pro.discount}}%</small></li>
                </ul>
                <div class="stars">
                    <i class="fa fa-star "></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa text-secondary">(44)</i>
                </div>
                <div class="hide-btn-cards ">
                    <button class="btn w-100 text-white" (click)="AddToCart(pro)"[disabled]="pro.addedToCart" >{{'product.Add To Cart' | translate}}</button>
                      </div>
            </div>
        </div>


</div>






    <!-- Modal -->
    <div class="modal fade" [id]="'Model'+pro.id" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
        tabindex="-1" (click)="GetSpecs(pro)" [class.rtl]="isArabic">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalToggleLabel">{{'product.Please select a variation' | translate}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class="modal-body">
                    <div >
                        <h3>{{'product.VARIATION AVAILABLE' | translate}}</h3>
                        <br>
                        <span class="specs" *ngFor="let s of sizeSpecs"> {{ s }}</span>
                      </div>
                    <!-- <div class="center-align">
                        <input type="radio" name="size" id="size_1" value="small" />
                        <label class=" radio-popup-size" for="size_1">M</label>

                        <input type="radio" name="size" id="size_2" value="small" />
                        <label class="radio-popup-size" for="size_2">L</label>


                        <input type="radio" name="size" id="size_3" value="small" />
                        <label class="radio-popup-size" for="size_3">XL</label>

                        <input type="radio" name="size" id="size_4" value="small" />
                        <label class="radio-popup-size" for="size_4">XxL</label>

                        <input type="radio" name="size" id="size_5" value="small" />
                        <label class="radio-popup-size" for="size_5">XxxL</label>
                    </div> -->
                    <h2><strong>{{'product.EGP' | translate}} {{pro.realPrice}}</strong></h2>
                    <ul class="list-inline">
                        <li class="list-inline-item"><small><del>{{'product.EGP' | translate}} {{pro.realPrice}}</del> </small></li>
                        <li class="list-inline-item offer-cards px-1"><small>-{{pro.discount}}%</small></li>
                    </ul>
                </div>
                <div class="modal-footer ">
                    <button class="btn w-100 text-white" (click)="addToWishlist(pro)">
                        <i class="fa" [ngClass]="{'fa-heart-o': !isInWishlist(pro), 'fa-heart': isInWishlist(pro)}"></i>
                        <span *ngIf="!isInWishlist(pro)">{{'product.ADD TO WISHLIST' | translate}}</span>
                        <span *ngIf="isInWishlist(pro)">{{'product.REMOVE FROM WISHLIST' | translate}}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    }

    <div class="alert alert-success alert-dismissible fade show fixed-top custom-alert" role="alert" id="customAlert" [hidden]="!showAlert1" [class.rtl]="isArabic" >
        <strong><i class="fa fa-check-circle text-success" id="acc"></i></strong>{{'cart.Product Added To Cart Successfully' |translate}}
        <button type="button" class="btn-close" data-bs-dismiss="alert"(click)="closeAlert()" aria-label="Close">
          <i class="fa fa-times-circle text-success" id="close"></i>
        </button>
      </div>
      
      <div class="alert alert-success alert-dismissible fade show fixed-top custom-alert" role="alert" id="customAlert" [hidden]="!showAlert2" [class.rtl]="isArabic" >
        <strong><i class="fa fa-check-circle text-success" id="acc"></i></strong>{{'cart.Product Added To wishlist Successfully' |translate}}
        <button type="button" class="btn-close" data-bs-dismiss="alert"(click)="closeAlert()" aria-label="Close">
          <i class="fa fa-times-circle text-success" id="close"></i>
        </button>
      </div>
      

<!-- <div class="b-pagination-outer">

    <ul id="border-pagination">
      <li><a (click)="prevPage()">«</a></li>
      <li><a *ngFor="let page of pageNumbers" (click)="goToPage(page)">{{ page }}</a></li>

      <li><a (click)="nextPage()">»</a></li>
    </ul>
  </div> -->