<!-- Order  when no item (heba)-->
<div [class.rtl]="isArabic">
<div class="container-fluid"  >
    <div class="row flex-nowrap ">
        <div class="container-fluid">

            <div class="row ">
              <div class="col-3 col-md shadow-sm rounded m-2 bg-body">
          
          
                <div class="row  rounded">
                  <div class="col-12"><strong class="px-2">My Jumia Account</strong></div>
                  <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Order</small></a>
                  <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Inbox</small></a>
                  <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Review</small></a>
                  <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Voucher</small></a>
                  <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Saved Item</small></a>
                  <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Follower Seller</small></a>
                  <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Recent View</small></a>
                  <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Account Management</small></a>
                  <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Adress Book</small></a>
                  <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Newsletter Prefrences</small></a>
                  <a class="col-12 Link_hover color-black p-2" href="#"><small class="px-3">Close Account</small></a>
                </div>
          
              </div>
            
        <!-- body -->
        <div class="col-8 col-md shadow-sm rounded m-2 bg-body " *ngIf="OrdersNumbers === 0" style="background-color: white;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item fs-3">{{'orderdetails.Orders' | translate}}</li>
                <li class="list-group-item">
                    <ul  style="color: orange;" >
                        <li class="d-inline"><a>{{'orderdetails.ONGOING/DELIVERD (0)' | translate}}</a></li>
                        <li class="d-inline"><a>{{'orderdetails.CNACELD/RETURNED (0)' | translate}}</a></li>
                    </ul>
                </li>
                <li class="list-group-item  mt-5" style="text-align: center;"><img src="https://www.jumia.com.eg/assets_he/images/orders.669c73dc.svg" class="mb-2" style="display: block;margin: 0 auto;">
                <p class="fw-bold mb-2" >{{'orderdetails.You have place no order yet!' | translate}}</p>
            <p class="mb-2">{{'orderdetails.All your orders will be saved here' | translate}} </p>
        <button  class="btn  text-light" routerLink="/Home"  style="background-color: orange;">{{'orderdetails.Go shopping' | translate}}</button></li>
              </ul>
        </div>
        <!-- if there is order item -->
        <div class="col-8 col-md shadow-sm rounded m-2 bg-body" *ngIf="OrdersNumbers > 0" style="background-color: white;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item fs-3">{{'orderdetails.Orders' | translate}}</li>
                <li class="list-group-item mb-3">
                    <ul  style="color: orange;" >
                        <li class="d-inline"><a>{{'orderdetails.ONGOING/DELIVERD' | translate}}({{openOrders}})  </a></li>
                        <li class="d-inline"><a> {{'orderdetails.CNACELD/RETURNED' | translate}} ({{closedOrders}})</a></li>
                    </ul>
                </li>
                @for(ord of Orders;track ord.id;){
                <li class="mt-2"  >
                  <div class="card-body  row ">
                      <div class="col-2">
                        <div class="d-flex justify-content-center">
                            <img src="https://www.jumia.com.eg/assets_he/images/orders.669c73dc.svg">
                        </div>
                       
                      </div>
                      <div class="col-7 "><p class="mb-1"> </p>
                        <h6 class="text-dark mb-1 row"><strong class="col-6">{{'orderdetails.Created Date' | translate}} : </strong><span class="col-6">{{  ord.orderDate | date: 'dd-MM-yyyy'}}</span></h6>
                      <h6 class="text-secondary mb-1 row"><strong class="text-dark col-6">{{'orderdetails.Order' | translate}} :</strong><span class="col-6">{{ord.id}}</span></h6>
                      <p [ngStyle]="{'color': getStatusColor(ord.status.toLocaleString())}"class="row"><strong class="text-dark col-6">status:</strong> <span class="col-6">{{ ord.status }}</span></p>
                      <p class="row"><strong class="text-dark col-6">{{'orderdetails.Quantity' | translate}}:</strong><span class="col-6">{{ord.totalAmount}}</span> </p>
                      <h1 class="h6 text-success row"><strong class="text-dark col-6">{{'orderdetails.Total Price' | translate}}</strong> <span class="col-6">{{ord.totalOrderPrice}}EGP</span></h1></div>
                      
                      <div class="col-3"><a class="btn btn-outline-warning text-decoration-none d-flex justify-content-center"  [routerLink]="['/OrderItems', ord.id]"   href=""><strong class="text-light">{{'orderdetails.SEE DETALIS' | translate}}</strong></a></div>
                      </div>
                      <hr>
                </li>
            }
            </ul>
                    </div>
        <!-- end -->
    </div>
</div>

</div>

