<!-- if cart have item -->
<div class="row ">
    <div class="card  mb-3 my-4 col-8" style="max-width: 40rem;">
      <div class="card-header bg-white"> <h5>Cart (number )</h5></div>
      <div class="card-body  row">
        <div class="col-3">
          <img src="https://eg.jumia.is/unsafe/fit-in/150x150/filters:fill(white)/product/04/545973/1.jpg?8016">
        </div>
        <div class="col-5 text-warning"><p class="mb-1">NIVEA MEN MEN Face, Body & Hands Cream Moisturising, Tin 75ml</p>
        <h6 class="text-secondary mb-1">In Stock</h6>
        <a href="https://www.jumia.com.eg/nivea-men-men-face-body-hands-cream-moisturising-tin-75ml-37954540.html">  <img src="../../../assets/ProductImg/express.png" style="width: 50%;"></a>
    </div>
        <div class="col-4">
          <h1 class="h5">EGP 49.00</h1>
          <div class="row">
            <div class="col-8 "> <p class="text-decoration-line-through">EGP 140.00</p></div>
            <div class="col-4 "><p class="bg-warning">-65%</p></div>
        </div>
        </div>
      </div>
      <div class="card-footer bg-transparent row">
    <div class="col-6"><p class="text-warning"><i class="fa-solid fa-trash"></i> <span class="text-uppercase"> Remove</span></p></div>
    <div class="col-6 ">
    <div class="row">
      <div class="col-6 d-flex">
        <button class="btn btn-warning "><i class="fa-solid fa-minus text-light"></i></button><p>num</p>
      </div>
      <div class="col-6 d-flex">
        <button class="btn btn-warning"><i class="fa-solid fa-plus text-light"></i></button><p>num</p>
    </div>
    </div>
      </div>
    </div>
    </div>
    <div class="col-4">
      <div class="card mb-3 my-4" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">CART SUMMARY</li>
          <li class="list-group-item">
            <ul class="d-flex">
              <li class="me-5">Subtotal</li>
              <li>EGP 49.00</li>
            </ul>
          </li>
          <ul>
          <li ><p>Missing EGP 151.00 to reach free delivery</p> </li>
          <li> <img src="../../../assets/cart.jpg" style="width: 40%;"></li>
          </ul>
        </ul>
        <div class="card-footer bg-light">
          <button class="btn btn-warning text-light" style="width: 90%;">Checkout (EGP 49.00)</button>
        </div>
      </div>
    </div>
    </div>
    
