
    /* change color or hover link side bar */
    .Link_hover:hover {
        background-color: rgba(201, 201, 197, 0.404);

    }

    a:link,
    a:visited {

        color: rgb(0, 0, 0);
        padding: 14px 25px;

        text-decoration: none;
        display: inline-block;
    }

    .line {
        color: rgb(201, 201, 197);
        /* Change background color on hover */
    }
.btn{
    background-color: #ff9901ea;

}
    /* ------------------------------------------------------- */




    /* style search in side bar  */
    .searchBar {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #searchQueryInput {
        width: 100%;
        height: 2.8rem;
        background: #f5f5f5;
        outline: none;
        border: none;
        border-radius: 1.625rem;
        padding: 0 3.5rem 0 1.5rem;
        font-size: 1rem;
    }

    #searchQuerySubmit {
        width: 3.5rem;
        height: 2.8rem;
        margin-left: -3.5rem;
        background: none;
        border: none;
        outline: none;
    }

    #searchQuerySubmit:hover {
        cursor: pointer;
    }

    /* ---------------------------------------------------------------------- */

    /* vertical scroll in side bar */
    .vertical-scrollable {

        height: 150px;
        overflow-y: scroll;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 6px;
    }



    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #c7c7c7;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #929292;
    }

    /* ---------------------------------------------------------------------- */


    /* Custom checkbox style in side bar */


    .form-check-input[type="checkbox"]:checked {
        background-color: #ff9901;


    }

    .form-check-input[type="checkbox"]:hover {
        background-color: #ff9901;
        box-shadow: 0 0px 28px rgba(255, 166, 0), 0 0px 20px rgb(255, 166, 0);
    }
    .form-check-input[type="radio"]:checked {
      background-color: #ff9901;


  }

  .form-check-input[type="radio"]:hover {
      background-color: #ff9901;
      box-shadow: 0 0px 28px rgba(255, 166, 0), 0 0px 20px rgb(255, 166, 0);
  }

    /* ---------------------------------------------------------------------- */




    /* style price range in side bar */

    .price-input {
        width: 100%;
        display: flex;
        margin: 30px 0 35px;
    }

    .price-input .field {
        display: flex;
        width: 100%;
        height: 30px;
        align-items: center;
    }

    .field input {
        width: 100%;
        height: 100%;
        outline: none;
        font-size: 19px;
        margin-left: 12px;
        border-radius: 5px;
        text-align: center;
        border: 1px solid #999;
        -moz-appearance: textfield;
    }

    
    

    .range-input {
        position: relative;
    }

    .custom-slider {
        .ngx-slider {
          .ngx-slider-selection {
            background: rgb(255, 255, 0) !important;
          }
        }
      }
      .custom-slider .ngx-slider .ngx-slider-selection {
        background: rgb(255, 255, 0) !important;
      }
 
  


   
    /* .ngx-slider-track {
        height: 17px;
        width: 17px;
        border-radius: 50%;
        background: #ffae00;
        pointer-events: auto;
        -webkit-appearance: none;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    } */

    /* .ngx-slider-track {
        height: 17px;
        width: 17px;
        border: none;
        border-radius: 50%;
        background: #ffae00;
        pointer-events: auto;
        -moz-appearance: none;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
    } */

    /* ---------------------------------------------------------------------- */







    /*style cards by Bahaa */

    .label-Cards-top {
        position: absolute;
        background-color: rgba(255, 115, 0, 0.842);
        color: #fff;
        top: 8px;
        left: 8px;

        font-size: .7rem;
        font-weight: 600;
        border-radius: 3px;
        text-transform: uppercase;
    }

    .offer-cards {
        background-color: rgba(243, 152, 77, 0.397);
        border-radius: 3px;
        color: #ff9901;

    }

    .cards-heart>a {
        position: absolute;
        color: #ffae0069;
        bottom: 220px;
        right: 8px;

    }
.cards-question{
    position: absolute;
        color: #c9c9c9d5;
        bottom: 80px;
        right: 8px;
}
    .cards-heart:hover>a {
        color: #ffae00;
    }

    .cards-question:hover>a{
        color: #ffae00;
}
    .cards-hover:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    }

    .hide-btn-cards {
        display: none;
    }

    .show-cards-btn:hover .hide-btn-cards {
        display: block;
    }

    .stars i {
        color: gold;
        font-size: .9rem;

    }

    /* -------------------------------------------------- */


    /* Redio in modell */


    .center-align {
        width: auto;
        height: 40px;


    }

    /* input[type="radio"] {
        visibility: hidden;
        height: 0;
        width: 0;
    } */

    .radio-popup-size {

        vertical-align: middle;
        text-align: center;
        cursor: pointer;
        border-style: solid;
        border-color: #d8d8d8;
        border-width: 1px;
        border-radius: 4px;


        padding: 5px 10px;


    }

    input[type="radio"]:checked+label {
        color: #ffae00;
        border-color: #ffae00;
    }

    /* ---------------------------------------------------------------------- */
    html,
    body {
      font: 100%/1.5 Verdana, sans-serif
    }
    #wrapper {
      margin: 0 auto;
      display: block;
      width: 960px;
    }
    .page-header {
      text-align: center;
      font-size: 1.5em;
      font-weight: normal;
      border-bottom: 1px solid #ddd;
      margin: 30px 0
    }
    #pagination {
      margin: 0;
      padding: 0;
      text-align: center
    }
    #pagination li {
      display: inline
    }
    #pagination li a {
      display: inline-block;
      text-decoration: none;
      padding: 5px 10px;
      color: #000
    }

    /* Active and Hoverable Pagination */
    #pagination li a {
      border-radius: 5px;
      -webkit-transition: background-color 0.3s;
      transition: background-color 0.3s

    }
    #pagination li a.active {
      background-color: #4caf50;
      color: #fff
    }
    #pagination li a:hover:not(.active) {
      background-color: #ddd;
    }

    /* border-pagination */
    .b-pagination-outer {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      overflow: hidden;
      display: flex
    }
    #border-pagination {
      margin: 0 auto;
      padding: 0;
      text-align: center
    }
    #border-pagination li {
      display: inline;

    }
    #border-pagination li a {
      display: block;
      text-decoration: none;
      color: #000;
      padding: 5px 10px;
      border: 1px solid #ddd;
      float: left;

    }
    #border-pagination li a {
      -webkit-transition: background-color 0.4s;
      transition: background-color 0.4s
    }
    #border-pagination li a.active {
      background-color: #4caf50;
      color: #fff;
    }
    #border-pagination li a:hover:not(.active) {
      background: #ddd;
    }
    .rtl {
        direction: rtl;
      }
    
.col-3{
    width: 23%;
}
        



/* ---------------------------------popup-filter------------------------------------ */
.vcms__popup {
    z-index: -1;
  }
.vcms__popup-check {
  display: none;

}
.triggers{
display:none;
}
.header  {
  display: none;
}
.close {
  display: none;
}

.paner_hide {
  display: block;
}
@media only screen and (max-width: 1300px) {
  .paner_hide {
      display: none;
  }
  .container__left {
      width: 0%;
  }

  .container__middle {
      width: 100%;
  }


  .header {
      display: block;
  }
  .close {
      display: block;
  }
  .triggers {
      display: flex;
      align-items: center;
 /*     margin-top: 60px;*/
      flex-direction: column;
     
  }

  .triggers label {
      cursor: pointer;
      height: 43px;
      padding: 10px 30px;
     
      align-items: center;
      font-weight: bold;
      color: #fff;
      border: 2px solid #3a4047;
    
      box-sizing: border-box;

  }

  /** START POPUP CSS **/

  

  .vcms__popup {
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.85);
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      visibility: hidden;
      transition: visibility 0s, opacity 0.25s ease-in-out;
      transition-delay: 0.65s, 0.2s;
  }

  .vcms__popup-check:checked + .vcms__popup {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s, 0s;
  }

  .vcms__popup .inner {
      width: 540px;
      max-width: 95%;
      border-radius: 20px;
      box-shadow: 0 9px 23px 0 rgba(0, 0, 0, 0.15);
      background-color: #fff;
      box-sizing: border-box;
      margin-bottom: 100px;
      opacity: 0;
      transition: margin-bottom 0.4s cubic-bezier(0.42, 0.72, 0.37, 1.31), opacity 0.25s ease-in-out;
      transition-delay: 0s, 0s;
  }

  .vcms__popup-check:checked + .vcms__popup .inner {
      transition-delay: 0.15s, 0.15s;
      margin-bottom: 0;
      opacity: 1;
  }

  .vcms__popup .inner .header {
      margin-top:60px;
      padding: 20px 25px 13px;
      font-size: 28px;
      color: #fff;
      background-color: #4d555e;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
  }

  .vcms__popup .inner .txt {
      line-height: 27px;
      padding: 20px 25px;
      max-height: calc(100vh - 260px);
      overflow: auto;
  }

  .vcms__popup .inner .footer {
      box-sizing: border-box;
      padding: 15px 25px 20px;
      border-top: 1px solid #efefef;
      display: flex;
      justify-content: flex-end;
      background-color: rgba(255, 255, 255, 0.6);
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
  }

      .vcms__popup .inner .footer .btn {
          height: 43px;
          width: 156px;
          flex-grow: 0;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #3a4047;
          text-decoration: none;
          font-size: 13px;
          border: 2px solid #3a4047;
          border-radius: 21.5px;
          box-sizing: border-box;
          font-weight: 600;
          transition: all 0.15s ease-in-out;
      }

      .vcms__popup .inner .footer .close {
          height: 43px;
          width: 126px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #bcbcbc;
          text-decoration: none;
          font-size: 13px;
          border: 2px solid #dadada;
          border-radius: 21.5px;
          margin-left: 7px;
          box-sizing: border-box;
          font-weight: 600;
          cursor: pointer;
          flex-grow: 0;
          flex-shrink: 0;
          transition: all 0.15s ease-in-out;
      }

          .vcms__popup .inner .footer .btn:hover,
          .vcms__popup .inner .footer .close:hover {
              background-color: #3a4047;
              color: #fff;
              border: 2px solid #3a4047;
          }
}



/* --------------------------------------------------------------------------------- */

/* ----------------------------------custom-slider----------------------------------------------- */


::ng-deep .custom-slider .ngx-slider .ngx-slider-pointer {
   
    background-color: #f07a0d;
  
}

::ng-deep .custom-slider .ngx-slider .ngx-slider-pointer:after {
  
    background-color: #f07a0d;
}


::ng-deep .custom-slider .ngx-slider .ngx-slider-selection {
   
    background-color: #f07a0d;
   
}

/* --------------------------------------------------------------------------------- */

/* Extra small devices (phones) */
@media only screen and (max-width:590px) {
    .col-3{
       width: 100%;
    }
       
     .pro-cart{
        width: 100%;
     }
     .hide{
        display: none;
     }
       }
       
    /* Small devices (portrait tablets and large phones) */
   @media only screen and (min-width:600px) and (max-width:885px) {
         
       .col-3{
           width: 30%;
       
       }
       .pro-cart{
        width: 65%;
     }
     
   }
       