<br>
<br><br><br>


<div class="container section1">
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col">
         <a href=""> <img src="assets/HomeImg/2.png" class="d-block w-100" alt="Image 7"></a>
        </div>
        <div class="col sm-4">
          <a href=""><img src="assets/HomeImg/FlashSaleEN.png" class="d-block w-100" alt="Image 8"></a>
        </div>
        <div class="col">
          <a href=""><img src="assets/HomeImg/ApplianceEN.png" class="d-block w-100" alt="Image 8"></a>      
            </div>
      <div class="col">
             <a href=""><img src="assets/HomeImg/2.png" class="d-block w-100" alt="Image 8"></a>   
                   </div>
          <div class="col">
            <a href=""><img src="assets/HomeImg/ApplianceEN.png" class="d-block w-100" alt="Image 8"></a>    
                </div>
          <div class="col">
             <a href=""><img src="assets/HomeImg/TodayEN.png" class="d-block w-100" alt="Image 8"></a>    
                  </div>
          <div class="col">
               <a href=""><img src="assets/HomeImg/FashionEn.gif" class="d-block w-100" alt="Image 8"></a>    
                    </div>
          <div class="col">
           <a href=""><img src="assets/HomeImg/EN9ffcopy.png" class="d-block w-100" alt="Image 8"></a>     
               </div>      
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col">
         <a href=""> <img src="assets/HomeImg/FashionEn.gif" class="d-block w-100" alt="Image 7"></a>
        </div>
        <div class="col">
         <a href=""> <img src="assets/HomeImg/FlashSaleEN.png" class="d-block w-100" alt="Image 7"></a>
        </div>
        <div class="col">
          <a href=""><img src="assets/HomeImg/INSEN.png" class="d-block w-100" alt="Image 8"></a>
        </div>
        <div class="col">
          <a href=""><img src="assets/HomeImg/RedeemEN.png" class="d-block w-100" alt="Image 8"></a>
        </div>
        <div class="col">
         <a href=""> <img src="assets/HomeImg/MIEEN.png" class="d-block w-100" alt="Image 7"></a>
        </div>
        <div class="col">
          <a href=""><img src="assets/HomeImg/RedeemEN.png" class="d-block w-100" alt="Image 8"></a>
        </div>
        <div class="col">
          <img src="assets/HomeImg/2.png" class="d-block w-100" alt="Image 7">
        </div>
        <div class="col">
          <a href=""><img src="assets/HomeImg/EN9ffcopy.png" class="d-block w-100" alt="Image 8"></a>
        </div>
      </div>
     
    </div>
    <!-- Add more carousel items as needed -->
    <button class="carousel-control-prev col-1" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next col-1" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
 
</div>
</div>

 

  <div class="container ">
      <div class="row sectionHeader">
        <h5>Ramadan Preparations ☾</h5>
      </div>
      <div class="row section1">
       
        <div class="col">
          <a href=""><img src="assets/HomeImg/R1.jpg" class="d-block w-100" alt="Image 8"></a>
        </div>
        <div class="col">
          <a href=""><img src="assets/HomeImg/R2.png" class="d-block w-100" alt="Image 8"></a>   
               </div>
        <div class="col">
          <a href=""><img src="assets/HomeImg/R3.png" class="d-block w-100" alt="Image 8"></a>
        </div>
        <div class="col">
          <a href=""><img src="assets/HomeImg/R4.png" class="d-block w-100" alt="Image 8"></a>
        </div>
        <div class="col">
          <a href=""><img src="assets/HomeImg/R5.png" class="d-block w-100" alt="Image 8"></a>
        </div>
        <div class="col">
          <a href=""><img src="assets/HomeImg/R6.gif" class="d-block w-100" alt="Image 8"></a>
        </div>
       
      </div>
  </div>

  <div class="container">
    <div class="sectionHeader row">
      <h5>Shop All Your Needs</h5>
    </div>
    <div class="row section1">
      <div class="col ">
        <a href=""><img src="assets/HomeImg/p1.png" class="d-block w-100" alt="Image 8"></a>
      </div>
      <div class="col e-0">
        <a href=""><img src="assets/HomeImg/p1.png" class="d-block w-100" alt="Image 8"></a>
      </div>
    </div>
    <br>
    <div class="row section1">
      <div class="col">
        <a href=""><img src="assets/HomeImg/p1.png" class="d-block w-100" alt="Image 8"></a>
      </div>
      <div class="col">
        <a href=""><img src="assets/HomeImg/p1.png" class="d-block w-100" alt="Image 8"></a>
      </div>
     
    </div>
</div>
 
<br>
<div class="container section1">
  <div class="row">
    <div class="col">
    <a href=""> <img src="assets/HomeImg/GeneralENDESKTOP.jpg" alt="" title="Panar" class="d-block w-100"></a>
  </div>
  </div>
</div>

<div class="container">
  <div class=" row">
    <h5 class="text-center">♡ Proudly Made in Egypt ♡</h5>
  </div>
  <div class="row section1">
    <div class="col ">
      <a href=""><img src="assets/HomeImg/pink.jpg" class="d-block w-100" alt="Image 8"></a>
    </div>
   
  </div>
</div>

<div class="container">
<div class=" row sectionHeader">
  <h5 class="text-center">Best Fashion Offers</h5>
</div>
<div class="row section1">
  <div class="col ">
    <a href=""><img src="assets/HomeImg/b1.png" class="d-block w-100" alt="Image 8"></a>
  </div>
  <div class="col ">
    <a href=""><img src="assets/HomeImg/b2.png" class="d-block w-100" alt="Image 8"></a>
  </div>
  <div class="col ">
    <a href=""><img src="assets/HomeImg/b3.png" class="d-block w-100" alt="Image 8"></a>
  </div>
 
</div>
</div>

<div class="container">
  <section class="card d-flex overflow-hidden rounded-2">
      <div class="d-flex align-items-center p-1 px-sm-2">
        <a href="https://www.jumia.com.eg/mlp-fashion-beauty-top-deals/" class="d-block text-decoration-none stretched-link rounded-4 hover-shadow" data-track-onclick="eecPromo" data-gtm-id="home_DSB_UND_EN_RAM_Fashion &amp;" data-gtm-name="DSB_UND_EN_RAM_Fashion &amp;" data-gtm-creative="https://eg.jumia.is/cms/Ramadan-24/Fashion-Beauty-Mega-Sale/Final-Edits/1200x200EN.png" data-gtm-position="bannerfloor_1" data-track-onview="eecPromo" data-track-onclick-bound="true">
          <div class="aspect-ratio aspect-ratio-6x1">
            <img src="https://eg.jumia.is/cms/Ramadan-24/Fashion-Beauty-Mega-Sale/Final-Edits/1200x200EN.png" alt="Fashion &amp; Beauty" class="img-fluid rounded-2">
          </div>
        </a>
      </div>
    </section>

</div>
