<main class="container"  [class.rtl]="isArabic" >
  <div class="row">
    <div class="col-2 col-md mb-5 shadow-sm bg-body mb-5 rounded my-3 show-div-Linkes">
      <div class="row float-start">
        <a class="col-12 Link_hover color-black   linkSidebar"   *ngFor="let cat of allCategories.slice(0, 9);" (mouseover)="GetSubCategories(cat.id)" (click) = "GetProductsByCatId(cat.id)">
          <i class="fa fa-hand-o-right px-3" aria-hidden="true"><small>  {{ isArabicLanguage() ? cat.nameAr : cat.name }}</small></i>
        </a>
        <a class="col-12 Link_hover color-black   linkSidebar" (mouseover)="GetOtherCategories()">
          <i class="fa fa-braille px-3" aria-hidden="true"><small>  Other</small></i>
        </a>
      </div>
    </div>
    
    <div class="show-linkes col-7 col-md mb-5 bg-body shadow-sm p-3 mb-5  rounded my-3">
    
          <div class="row" >
            <div class="col-4 border-right p-2">
              <p><a class="linkSidebar d-block "routerLink = "/Product">Categorys section 1</a></p>
              <hr>
              <a class="linkSidebar d-block"*ngFor="let subCat of SubCategories.slice(0, 10);" (click) = "GetProductsBySubCatId(subCat.id)">{{ isArabicLanguage() ? subCat.nameAr : subCat.name }}</a>

              
            </div>

            <div class="col-4 border-right p-2">
              <p><a class="linkSidebar d-block "routerLink = "/Product">Categorys section 2</a></p>
              <hr>
              <a class="linkSidebar d-block"*ngFor="let subCat of SubCategories.slice(10, 20);" (click) = "GetProductsBySubCatId(subCat.id)">{{ isArabicLanguage() ? subCat.nameAr : subCat.name }}</a>
            </div>

            <div class="col-4 border-right p-2">
              <p><a class="linkSidebar d-block "routerLink = "/Product">Categorys section 3</a></p>
              <hr>
              <a class="linkSidebar d-block"*ngFor="let subCat of SubCategories.slice(20, 30);" (click) = "GetProductsBySubCatId(subCat.id)">{{ isArabicLanguage() ? subCat.nameAr : subCat.name }}</a>
            </div>



          </div>

        
    </div>
    
    <div class="hide-slider col-7 col-md   p-3  rounded">

      <div id="carouselExampleIndicators" class="carousel slide  " data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active "
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
            aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
            aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
            aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"
            aria-label="Slide 8"></button>
        </div>
        <div class="carousel-inner rounded">
          <div class="carousel-item active">
            <img src="assets/sliderImg/1.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/sliderImg/2.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/sliderImg/3.gif" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/sliderImg/4.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/sliderImg/5.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/sliderImg/6.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/sliderImg/7.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="assets/sliderImg/8.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">{{'home.Previous' | translate}}</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">{{'home.Next' | translate}}</span>
        </button>
      </div>
    </div>

    <div class="panerRight col-3 col-md mb-5     my-2">


      <div class="row m-2 ">
        <div class="col-12">

          <div class="row bg-body rounded ">
            <div class="col-12">
              <div class="row my-1">
                <div class="col-4">
                  <img src="assets/HomeImg/11.png" alt="">

                </div>
                <div class="col-8 p-0">
                  <p><strong>{{'home.Sell on JUMIA' | translate}}</strong></p>
                  <p><small>{{'home.And Grow Business' | translate}}</small></p>
                </div>
              </div>
            </div>
            <div class="col-12 ">
              <div class="row my-1">
                <div class="col-4">
                  <img src="assets/HomeImg/22.png" alt="">

                </div>
                <div class="col-8 p-0">
                  <p><strong>{{'home.Instsllments' | translate}}</strong></p>
                  <p><small>{{'home.With Your Bank' | translate}}</small></p>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="row my-1">
                <div class="col-4">
                  <img src="assets/HomeImg/33.png" alt="">

                </div>
                <div class="col-8 p-0">
                  <p><strong>{{'home.Warranty' | translate}}</strong></p>
                  <p><small>{{'home.On Your Purchases' | translate}}</small></p>
                </div>
              </div>
            </div>
          </div>

        </div>
 <div class="col-12 p-1  ">
  <img class="w-100 rounded" src="assets/HomeImg/33.gif" alt=""style="height: 200px;">
</div>
      </div>

    </div>
  </div>
</main>

<!-- --------------------------allCategories------------------------- -->
<app-category-slider></app-category-slider>
 <div class="container bg-body rounded-3" [class.rtl]="isArabic">


  <div *ngIf="allCategories">
    <div class="container section1" [class.rtl]="isArabic">
      <div id="myCarousel1" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">



          <div class="carousel-item active p-0">
            <div class="row ">
              <div *ngFor="let allCat of allCategories.slice(0, 6); let index = index" class="col col-slider sl-scall " (click) = "GetProductsByCatId(allCat.id)">
                <img class="card-img-top" [src]="allCat.image" alt="" >
               
                <p class="linkSidebar text-center">{{allCat.name}}</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div *ngFor="let allCat of allCategories.slice(4, 10); let index = index" class="col col-slider  sl-scall " (click) = "GetProductsByCatId(allCat.id)">
                <img class="card-img-top" [src]="allCat.image" alt="" >
                <p class="linkSidebar text-center">{{allCat.name}}</p>
              </div>
            </div>
          </div>

        <button class="carousel-control-prev col-1 fixed-n-p" type="button" data-bs-target="#myCarousel1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next col-1 fixed-n-p" type="button" data-bs-target="#myCarousel1" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  
    </div>
    </div>
  </div>
  




</div> 
<br>

<!-- --------------------------productDesc------------------------- -->
<app-discount-slider></app-discount-slider>

   <div class="container bg-body rounded-3 " [class.rtl]="isArabic">
    <div *ngIf="productDesc">
<div class="row ">
  <div class="col-6 p-1 h5">
    <strong class="">
      <p class="linkSidebar">product descound 30% or more</p>
    </strong>
  </div>
  <div class="col-6 p-1 h5">
    <strong>
      <a class="Link_hover color-black   linkSidebar float-end" routerLink="/Product">SEE ALL ></a>
    </strong>
  </div>
</div>

    <div id="myCarousel" class="carousel slide p-2" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active ">
    
          <div class="row p-1">
            <div *ngFor="let proDes of productDesc.slice(0, 6); let index = index" class="col col-slider sl-scall"
              (click)="navigateToDetails(proDes.id)">
              <div class="cards" [class.rtl]="isArabic">
                <div class="show-cards-btn card cards-hover diccProduct " style=" border: none;">
                  <img class="card-img-top" [src]="proDes.images[0]" alt="">
                 
                  <p class=" linkSidebar label-Cards-top p-1 "> {{proDes.discount}}% </p>
                  <p class="linkSidebar ">{{ isArabicLanguage() ? proDes.nameAr : proDes.name }}</p>
                  <p class="linkSidebar  "><strong>{{'product.EGP' | translate}}
                      {{(proDes.realPrice-(proDes.realPrice*proDes.discount/100)).toFixed(2)}}</strong></p>
                  <del class="linkSidebar ">{{'product.EGP' | translate}} {{proDes.realPrice}}</del>
                </div>
              </div>
            </div>
          </div>
        </div>

       
        <div class="carousel-item  ">
          <div class="row p-1">
            <div *ngFor="let proDes of productDesc.slice(6, 12); let index = index" class="col col-slider sl-scall"(click)="navigateToDetails(proDes.id)">
              <div class="" [class.rtl]="isArabic">
                <div class="show-cards-btn card cards-hover diccProduct " style=" border: none;">
                  <img class="card-img-top" [src]="proDes.images[0]" alt="">
                 
                  <p class=" linkSidebar label-Cards-top p-1 "> {{proDes.discount}}% </p>
                  <p class="linkSidebar ">{{ isArabicLanguage() ? proDes.nameAr : proDes.name }}</p>
                  <p class="linkSidebar  "><strong>{{'product.EGP' | translate}}
                    {{(proDes.realPrice-(proDes.realPrice*proDes.discount/100)).toFixed(2)}}</strong></p>
                  <del class="linkSidebar ">{{'product.EGP' | translate}} {{proDes.realPrice}}</del>
                </div>
              </div>
            </div>
          </div>
        </div>
     


      <button class="carousel-control-prev col-1 fixed-p-p" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next col-1 fixed-n-p" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  </div>
</div> 
<br>

<!-- <div class="container section1" [class.rtl]="isArabic">
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active p-0">
        <div class="row ">
          <div class="col sl-scall">
            <a href=""> <img src="assets/HomeImg/2.png" class="d-block w-100" alt="Image 7"></a>
          </div>
          <div class="col sl-scall">
            <a href=""><img src="assets/HomeImg/FlashSaleEN.png" class="d-block w-100" alt="Image 8"></a>
          </div>
          <div class="col sl-scall">
            <a href=""><img src="assets/HomeImg/ApplianceEN.png" class="d-block w-100" alt="Image 8"></a>
          </div>
          <div class="col sl-scall">
            <a href=""><img src="assets/HomeImg/2.png" class="d-block w-100" alt="Image 8"></a>
          </div>
          <div class="col sl-scall">
            <a href=""><img src="assets/HomeImg/ApplianceEN.png" class="d-block w-100" alt="Image 8"></a>
          </div>
          <div class="col sl-scall">
            <a href=""><img src="assets/HomeImg/TodayEN.png" class="d-block w-100" alt="Image 8"></a>
          </div>
          <div class="col sl-scall">
            <a href=""><img src="assets/HomeImg/FashionEn.gif" class="d-block w-100" alt="Image 8"></a>
          </div>
          <div class="col sl-scall">
            <a href=""><img src="assets/HomeImg/EN9ffcopy.png" class="d-block w-100" alt="Image 8"></a>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div class="col sl-scall">
            <a href=""> <img src="assets/HomeImg/FashionEn.gif" class="d-block w-100" alt="Image 7"></a>
          </div>
          <div class="col sl-scall">
            <a href=""> <img src="assets/HomeImg/FlashSaleEN.png" class="d-block w-100" alt="Image 7"></a>
          </div>
          <div class="col sl-scall">
            <a href=""><img src="assets/HomeImg/INSEN.png" class="d-block w-100" alt="Image 8"></a>
          </div>
          <div class="col sl-scall">
            <a href=""><img src="assets/HomeImg/RedeemEN.png" class="d-block w-100" alt="Image 8"></a>
          </div>
          <div class="col sl-scall">
            <a href=""> <img src="assets/HomeImg/MIEEN.png" class="d-block w-100" alt="Image 7"></a>
          </div>
          <div class="col sl-scall">
            <a href=""><img src="assets/HomeImg/RedeemEN.png" class="d-block w-100" alt="Image 8"></a>
          </div>
          <div class="col sl-scall">
            <img src="assets/HomeImg/2.png" class="d-block w-100" alt="Image 7">
          </div>
          <div class="col sl-scall">
            <a href=""><img src="assets/HomeImg/EN9ffcopy.png" class="d-block w-100" alt="Image 8"></a>
          </div>
        </div>

      </div> 
    
    
      <button class="carousel-control-prev col-1 fixed-n-p" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next col-1 fixed-n-p" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


  </div>
</div> -->

<div class="" [class.rtl]="isArabic">
  <div class="row">
    <div class="sectionHeader col-12 p-3 rounded-3">
      <h5>{{'home.Shop All Your Needs' | translate}}</h5>
    </div>

  </div>
  
  <div class="row  container bg-body rounded-3 p-2">
    <div class="col ">
      <a href=""><img src="assets/HomeImg/p1.png" class="d-block w-100" alt="Image 8"></a>
    </div>
    <div class="col ">
      <a href=""><img src="assets/HomeImg/p1.png" class="d-block w-100" alt="Image 8"></a>
    </div>
  </div>
  <br>
  <div class="row container bg-body rounded-3 p-2">
    <div class="col">
      <a href=""><img src="assets/HomeImg/p1.png" class="d-block w-100" alt="Image 8"></a>
    </div>
    <div class="col">
      <a href=""><img src="assets/HomeImg/p1.png" class="d-block w-100" alt="Image 8"></a>
    </div>

  </div>
</div>
<br>

<!-- --------------------------productNews------------------------- -->


 <div class="container bg-body rounded-3" [class.rtl]="isArabic">
  <div *ngIf="productNews">
    <div class="row ">
      <div class="col-6 p-1 h5">
        <strong class="">
          <p class="linkSidebar">New Products for you</p>
        </strong>
      </div>
      <div class="col-6 p-1 h5">
        <strong>
          <a class="Link_hover color-black   linkSidebar float-end" routerLink="/Product">SEE ALL ></a>
        </strong>
      </div>
    </div>
  <div id="myCarousel2" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active p-0">

        <div class="row ">
          <div *ngFor="let pronew of productNews.slice(0, 6); let index = index" class="col sl-scall" (click)="navigateToDetails(pronew.id)">
            <div class="" [class.rtl]="isArabic">
              <div class="show-cards-btn card cards-hover diccProduct " style=" border: none;">
                <img class="card-img-top" [src]="pronew.images[0]" alt="">
       
            
                <p class="linkSidebar ">{{ isArabicLanguage() ? pronew.nameAr : pronew.name }}</p>
             
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row">
          <div *ngFor="let pronew of productNews.slice(6, 12); let index = index" class="col sl-scall"(click)="navigateToDetails(pronew.id)">
            <div class="" [class.rtl]="isArabic">
              <div class="show-cards-btn card cards-hover diccProduct " style=" border: none;">
                <img class="card-img-top" [src]="pronew.images[0]" alt="">
            
                <p class="linkSidebar ">{{ isArabicLanguage() ? pronew.nameAr : pronew.name }}</p>
             
              </div>
            </div>
          </div>
        </div>
      </div>
   
    <button class="carousel-control-prev col-1 fixed-n-p" type="button" data-bs-target="#myCarousel2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next col-1 fixed-n-p" type="button" data-bs-target="#myCarousel2" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div>
</div>
<br>

<div class="container section1" [class.rtl]="isArabic">
  <div class="row">
    <div class="col">
      <a href=""> <img src="assets/HomeImg/GeneralENDESKTOP.jpg" alt="" title="Panar" class="d-block w-100"></a>
    </div>
  </div>
</div>
<br>

<div class="container" [class.rtl]="isArabic">
  <div class=" row">
    <h5 class="text-center">{{'home.♡ Proudly Made in Egypt ♡' | translate}}</h5>
  </div>
  <div class="row section1">
    <div class="col ">
      <a href=""><img src="assets/HomeImg/pink.jpg" class="d-block w-100" alt="Image 8"></a>
    </div>

  </div>
</div>
<br>

<div class="container" [class.rtl]="isArabic">
  <div class=" row sectionHeader">
    <h5 class="text-center">{{'home.Best Fashion Offers' | translate}}</h5>
  </div>
  <div class="row section1">
    <div class="col ">
      <a href=""><img src="assets/HomeImg/b1.png" class="d-block w-100" alt="Image 8"></a>
    </div>
    <div class="col ">
      <a href=""><img src="assets/HomeImg/b2.png" class="d-block w-100" alt="Image 8"></a>
    </div>
    <div class="col ">
      <a href=""><img src="assets/HomeImg/b3.png" class="d-block w-100" alt="Image 8"></a>
    </div>

  </div>
</div>
<br>

<div class="container" [class.rtl]="isArabic">
  <section class="card d-flex overflow-hidden rounded-2">
    <div class="d-flex align-items-center p-1 px-sm-2">
      <a href="https://www.jumia.com.eg/mlp-fashion-beauty-top-deals/"
        class="d-block text-decoration-none stretched-link rounded-4 hover-shadow" data-track-onclick="eecPromo"
        data-gtm-id="home_DSB_UND_EN_RAM_Fashion &amp;" data-gtm-name="DSB_UND_EN_RAM_Fashion &amp;"
        data-gtm-creative="https://eg.jumia.is/cms/Ramadan-24/Fashion-Beauty-Mega-Sale/Final-Edits/1200x200EN.png"
        data-gtm-position="bannerfloor_1" data-track-onview="eecPromo" data-track-onclick-bound="true">
        <div class="aspect-ratio aspect-ratio-6x1">
          <img src="https://eg.jumia.is/cms/Ramadan-24/Fashion-Beauty-Mega-Sale/Final-Edits/1200x200EN.png"
            alt="Fashion &amp; Beauty" class="img-fluid rounded-2">
        </div>
      </a>
    </div>
  </section>

</div>
