<div class="container">
     <div class="col-3 float-end ">
    <div class="card mb-3 my-4" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Order summary</li>
        <li class="list-group-item">
          <ul class="d-flex">
            <li class="me-5">Item's total {{cartNumber}}</li>
            <li class="">EGP {{TotalCartPrice}} </li>
          </ul>
          <ul class="d-flex">
            <li class="me-5">Delivery fees</li>
            <li>EGP 300.00 </li>
          </ul>
          <ul class="d-flex">
            <li class="me-5">Prepaid discount</li>
            <li class="text-success">-EGP 10 </li>
          </ul>
        </li>
        <li class="list-group-item">
            <ul class="d-flex">
              <li class="me-5">Total</li>
              <li>EGP {{TotalCartPrice +300 -10}}</li>
            </ul>
           
          </li>

        <ul>
        <li ><p>You will be able to add a voucher when selecting your payment method.</p> </li>
        <li> <img src="../../../assets/cart.jpg" style="width: 40%;" title="img"></li>
        </ul>
      </ul>
      <div class="card-footer bg-light">
        <button class="btn btn-warning text-light save" style="width: 90%;" disabled routerLink="/shippment">Confirm Order </button>
      </div>
    </div>
  </div>
    <div class="row  ">   
        <div>
            <div class="col-9 AddressForm">
                <h6 class=" my-2"><i class="fa-solid fa-circle-check"></i> 1.CUSTOMER ADDRESS</h6>
                <h6 class="border-top ">EDIT ADDRESS</h6>
                <form class="row g-4" #addForm="ngForm" (submit)="AddAddress(shippment)">

                    <div class="col-md-6">
                        <fieldset class="border px-3 form-control " [ngClass]="{'border-danger': firstName.invalid && firstName.touched}">
                            <legend class="float-none w-auto px-3">First Name</legend>
                            <input type="text"  id="firstName" value=""
                             required  placeholder="Enter your first name" 
                             #firstName="ngModel" name="firstNameEn"  [(ngModel)]="shippment.firstNameEn">
                        </fieldset>
                        <div for="firstName" class="form-text text-danger" [hidden]="firstName.valid  || firstName.untouched">
                            <p>Required field</p>
                          </div>
                    </div>
                    <div class="col-md-6">
                        <fieldset class="border px-3 form-control"  [ngClass]="{'border-danger': lastName.invalid && lastName.touched}">
                            <legend class="float-none w-auto px-3">Last Name</legend>
                            <input type="text" id="lastName" placeholder="Enter your last name" 
                                required name="lastName" [(ngModel)]="shippment.lastName" #lastName="ngModel">
                        </fieldset>
                        <div for="lastName" class="form-text text-danger" [hidden]="lastName.valid  || lastName.untouched">
                            <p>Required field</p>
                          </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend px-3 ">
                                <label for="" class="" style="font-size: 2vmin;">Prefix</label>
                                <span class="input-group-text" style="font-size: 2vmin;">+20</span>
                            </div>
                            <fieldset class="border px-3  form-control"  [ngClass]="{'border-danger': phoneNumber.invalid && phoneNumber.touched}">
                                <legend class="float-none w-100 px-3">Phone Number</legend>
                                <input type="tel" id="phoneNumber" value="" placeholder="Enter your Phone Number"
                                    required  #phoneNumber="ngModel" name="phoneNumber"  [(ngModel)]="shippment.phoneNumber">
                            </fieldset>
                        </div>
                        <div for="phoneNumber" class="form-text text-danger" [hidden]="phoneNumber.valid  || phoneNumber.untouched">
                            <p>Required field</p>
                          </div>
                    </div>
                        <div class="col-md-6">
                            <div class="input-group mx-0">
                                <div class="input-group-prepend px-3">
                                    <label for="" style="font-size: 2vmin;">Prefix</label>
                                    <span class="input-group-text" style="font-size: 2vmin;">+20</span>
                                </div>
                                <fieldset class="border px-3 form-control">
                                    <legend class="float-none w-100 px-3">Additional Phone Number</legend>
                                    <input type="tel" id="AddphoneNumber" value=""
                                        placeholder="Enter Additional Phone Number">
                                </fieldset>
                               
                            </div>
                            </div>
                            <div class="col-12">
                                <fieldset class="border px-3 form-control"  [ngClass]="{'border-danger': address.invalid && address.touched}">
                                    <legend class="float-none w-auto px-3 ">Address</legend>
                                    <input type="tel" id="address" placeholder="Enter your Address" required #address="ngModel" name="address"  [(ngModel)]="shippment.address">
                                </fieldset>

                            </div>
                            <div class="col-12">
                                <fieldset class="border px-3 form-control"  [ngClass]="{'border-danger': adressInformation.invalid && adressInformation.touched}">
                                    <legend class="float-none w-auto px-3">Additional Information</legend>
                                    <input type="tel" id="additionalInformation"
                                        placeholder="Enter Additional Information" required  #adressInformation="ngModel" name="adressInformation"  [(ngModel)]="shippment.adressInformation">
                                </fieldset>
                                <div for="adressInformation" class="form-text text-danger" [hidden]="adressInformation.valid  || adressInformation.untouched">
                                    <p>Required field</p>
                                  </div>
                            </div>
                            <div class="col-md-6">
                                <fieldset class="border px-3 form-control">
                                    <legend class="float-none w-auto px-3" for="validationServer04">Region</legend>
                                    <select class="form-select" id="regionSelect" [(ngModel)]="shippment.region" name="region" required (change)="onRegionChange()">
                                        <option selected disabled value="">Choose</option>
                                        <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
                                    </select>
                                    <div id="validationServer04Feedback" class="invalid-feedback">
                                        Please select Your Region.
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset class="border px-3 form-control">
                                    <legend class="float-none w-auto px-3" for="validationServer04">City</legend>
                                    <select class="form-select " id="validationServer04" title="city"
                                        aria-describedby="validationServer04Feedback" id="citySelect" [(ngModel)]="shippment.city" name="city"  required>
                                        <option selected disabled value="">Choose</option>
                                        <option *ngFor="let city of selectedRegionCities" [value]="city">{{ city }}</option>
                                    </select>
                                    <div id="validationServer04Feedback" class="invalid-feedback">
                                        Please select Your City.
                                    </div>
                                </fieldset>
                            </div>
                            <input type="text" hidden name="RegionAr" Value="سوهاج"  [(ngModel)]="shippment.RegionAr">
                            <input type="text" hidden name="CityAr" Value="سوهاج" [(ngModel)]="shippment.CityAr">
                            <div class="col-12 d-flex justify-content-end  my-4">
                                <button type="button" class="btn  me-2 mt-4 text-warning">CANCEL</button>
                                <button type="submit"  class="btn btn-warning text-white mt-4 save"[disabled]="addForm.invalid" save>SAVE</button>
                            </div>
                </form>
            </div>
            <div class=" my-2 checkedSigh col-9">
                <h6 class=" my-2 "><i class="fa-solid fa-circle-check"></i> 2.Delivary Details</h6>
            </div>
            <div class=" my-2 checkedSigh col-9">
                <h6 class=" my-2 "><i class="fa-solid fa-circle-check"></i> 3.Payment Method</h6>
            </div>
            <a href="" class="text-decoration-none back">Go back & continue shopping</a>
        </div>
        
    </div>
    <div>
        <input type="text" value="order.id" hidden name="id">
        <input type="text" name="UserIdentityId" Value="clientId"  [(ngModel)]="shippment.UserIdentityId">
        <input type="text" value="order.customerId" hidden name="customerId">
        <input type="text" value="order.status" hidden name="status">
        <input type="text" value="order.cancelOrder" hidden name="cancelOrder">
        <input type="text" value="order.totalPrice" hidden name="totalPrice">
        <input type="text" value="order.paymentStatus" hidden name="paymentStatus">
        <input type="text" value="order.totalAmount" hidden name="totalAmount">
    </div>
    <h3>{{clientId}}</h3>
    <h3>{{shippment.id}}</h3>
    <h3>{{order.totalAmount}}</h3>
    <h3>{{order.totalPrice}}</h3>
    <h3>{{order.status}}</h3>
    <h3>{{order.paymentStatus}}</h3>
    <h3>{{order.customerId}}</h3>
    <h3>{{TotalCartPrice}}</h3>
    <h3>{{shippment.firstNameEn}}</h3>
    <h3>{{shippment.city}}</h3>
    <h3>{{order.cancelOrder}}</h3>
    <!-- <div class="col-3">
    <div class="card">
        <div class="card-header">Order summary</div>
        <div class="card-body">Item's total </div>
        <div class="card-footer">Total</div>
        <div>You will be able to add a voucher when selecting your payment method.</div>
        <button class="btn btn-secondry">Confirm Order</button>
        <p>(Complete the steps in order to proceed)</p>
      </div>
</div>  -->

</div>
                                 