<div class="container">
    <div class="row  ">
        <div>
            <div class="col-9 AddressForm">
                <h6 class=" my-2"><i class="fa-solid fa-circle-check"></i> 1.CUSTOMER ADDRESS</h6>
                <h6 class="border-top ">EDIT ADDRESS</h6>
                <form class="row g-4" #loginForm="ngForm" >


                    <div class="col-md-6">
                        <fieldset class="border px-3 form-control">
                            <legend class="float-none w-auto px-3">First Name</legend>
                            <input type="text"  id="firstName" value="" placeholder="Enter your first name" required #firstName="ngModel" name="firstName"  [(ngModel)]="shippment.FirstName">
                        </fieldset>
                        <div id="emailHelp" class="form-text text-danger" [hidden]="firstName.valid || firstName.untouched">
                            @if(firstName.errors?.['required']){
                              <p>Required field</p>
                            }
                           
                          </div>
                    </div>
                    <div class="col-md-6">
                        <fieldset class="border px-3 form-control">
                            <legend class="float-none w-auto px-3">Last Name</legend>
                            <input type="text" id="lastName" value="" placeholder="Enter your last name" required #lastName="ngModel" name="lastName"  [(ngModel)]="shippment.LastName">
                        </fieldset>
                        <div id="emailHelp" class="form-text text-danger" [hidden]="lastName.valid || lastName.untouched">
                            @if(lastName.errors?.['required']){
                              <p>Required field</p>
                            }
                           
                          </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend px-3 ">
                                <label for="" class="" style="font-size: 2vmin;">Prefix</label>
                                <span class="input-group-text" style="font-size: 2vmin;">+20</span>
                            </div>
                            <fieldset class="border px-3  form-control">
                                <legend class="float-none w-100 px-3">Phone Number</legend>
                                <input type="tel" id="phoneNumber" value="" placeholder="Enter your Phone Number"
                                    required>

                            </fieldset>
                        </div>
                    </div>
                        <div class="col-md-6">
                            <div class="input-group mx-0">
                                <div class="input-group-prepend px-3">
                                    <label for="" style="font-size: 2vmin;">Prefix</label>
                                    <span class="input-group-text" style="font-size: 2vmin;">+20</span>
                                </div>
                                <fieldset class="border px-3 form-control">
                                    <legend class="float-none w-100 px-3">Additional Phone Number</legend>
                                    <input type="tel" id="AddphoneNumber" value=""
                                        placeholder="Enter Additional Phone Number" required>
                                </fieldset>
                            </div>
                            </div>
                            <div class="col-12">
                                <fieldset class="border px-3 form-control">
                                    <legend class="float-none w-auto px-3 ">Address</legend>
                                    <input type="tel" id="address" placeholder="Enter your Address">
                                </fieldset>

                            </div>
                            <div class="col-12">
                                <fieldset class="border px-3 form-control">
                                    <legend class="float-none w-auto px-3">Additional Information</legend>
                                    <input type="tel" id="additionalInformation"
                                        placeholder="Enter Additional Information">
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset class="border px-3 form-control">
                                    <legend class="float-none w-auto px-3 " for="validationServer04">Region</legend>
                                    <select class="form-select " id="validationServer04"
                                        aria-describedby="validationServer04Feedback" required>
                                        <option selected disabled value="">Choose</option>
                                        <option>Sohag</option>
                                        <option>Cairo</option>
                                    </select>
                                    <div id="validationServer04Feedback" class="invalid-feedback">
                                        Please select Your Region.
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-6">
                                <fieldset class="border px-3 form-control">
                                    <legend class="float-none w-auto px-3" for="validationServer04">City</legend>
                                    <select class="form-select " id="validationServer04"
                                        aria-describedby="validationServer04Feedback" required>
                                        <option selected disabled value="">Choose</option>
                                        <option>Sohag</option>
                                        <option>Cairo</option>
                                    </select>
                                    <div id="validationServer04Feedback" class="invalid-feedback">
                                        Please select Your City.
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-12 d-flex justify-content-end  my-4">
                                <button type="button" class="btn  me-2 mt-4 text-warning">CANCEL</button>
                                <button type="submit" routerLink="/Delivary" class="btn btn-warning text-white mt-4 save"[disabled]="loginForm.invalid" save>SAVE</button>
                            </div>
                </form>
            </div>
            <div class=" my-2 checkedSigh col-9">
                <h6 class=" my-2 "><i class="fa-solid fa-circle-check"></i> 2.Delivary Details</h6>
            </div>
            <div class=" my-2 checkedSigh col-9">
                <h6 class=" my-2 "><i class="fa-solid fa-circle-check"></i> 3.Payment Method</h6>
            </div>
            <a href="" class="text-decoration-none back">Go back & continue shopping</a>
        </div>

    </div>
    <!-- <div class="col-3">
    <div class="card">
        <div class="card-header">Order summary</div>
        <div class="card-body">Item's total </div>
        <div class="card-footer">Total</div>
        <div>You will be able to add a voucher when selecting your payment method.</div>
        <button class="btn btn-secondry">Confirm Order</button>
        <p>(Complete the steps in order to proceed)</p>
      </div>
</div>  -->

</div>