@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model GetAllUsers


@{
   // Layout = "_Layout";

    SelectList Role = new SelectList(ViewBag.Role , "Id", "Name");
}
<html>
    <head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdminDashBoard.styles.css" asp-append-version="true" />
    </head>
    <body>
<h1>Add</h1>
<form method="post">
    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div>
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>

    <div>
        <label asp-for="role"></label>
       <br>
            <br>
        <select asp-for="roleid" asp-items="Role"></select> 
    </div>
        <br>
        <br>
    <button type="submit" class="btn btn-primary">Add</button>
</form>

       </body>
       </html>