@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model GetAllUsers


@{
    Layout = "_Layout";

    // SelectList Role = new SelectList(ViewBag.Role , "Id", "Name");
}

<h2>Add User</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Error
    </div>
}

<form asp-action="AddUser" method="post">
    <div class="form-group">
        <label asp-for="UserName">Username</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber">PhoneNumber</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Select Roles</label>
        <select asp-for="SelectedRoles" class="form-control" asp-items="ViewBag.Roles"></select>
        <span asp-validation-for="SelectedRoles" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add User</button>
</form>
