<div class="container" [class.rtl]="isArabic">
  <div class="col-3 float-end ">
    <div class="card mb-3 my-4" style="width: 18rem;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{'payment.Order summary' | translate}}</li>
        <li class="list-group-item">
          <ul class="d-flex">
            <li class="me-5">{{'payment.Item's total' | translate}} {{cartNumber}}</li>
            <li class="">{{'payment.EGP' | translate}} {{TotalCartPrice}} </li>
          </ul>
          <ul class="d-flex">
            <li class="me-5">{{'payment.Delivery fees' | translate}}</li>
            <li>{{'payment.EGP' | translate}} 300.00 </li>
          </ul>
          <ul class="d-flex">
            <li class="me-5">{{'payment.Prepaid discount' | translate}}</li>
            <li class="text-success">-{{'payment.EGP' | translate}} 10 </li>
          </ul>
        </li>
        <li class="list-group-item">
            <ul class="d-flex">
              <li class="me-5">{{'payment.Total' | translate}}</li>
              <li>{{'payment.EGP' | translate}} {{TotalCartPrice +300 -10}}</li>
            </ul>
           
          </li>

        <ul>
        <li ><p>{{'payment.You will be able to add a voucher when selecting your payment method' | translate}}</p> </li>
        <li> <img src="../../../assets/cart.jpg" style="width: 40%;" title="img"></li>
        </ul>
      </ul>
      <div class="card-footer bg-light">
        <button class="btn btn-warning text-light save" style="width: 90%;" [disabled]="!payment"   (click)="confirmOrder()">{{'payment.Confirm Order' | translate}} </button>
      </div>
    </div>
  </div>
    <div class="row  ">
        <div class=" my-2  col-md-8 row section1">
           <div class="col-md-6"> <h6 class=" my-2"><i class="fa-solid fa-circle-check text-success"></i> {{' payment.1.CUSTOMER ADDRESS' | translate}}</h6></div>
           <div class="col-md-6 text-end"><a href="" class="text-decoration-none"  [routerLink]="['/shippment']" >{{'payment.Change' | translate}} <i class="fa-solid fa-arrow-right"></i> </a></div>
           <div class="border-top ">
            <p class="my-0  pt-4">{{shippment.firstNameEn}}  {{shippment.lastName}}</p>
            <p class="mt-0 tb-5 text-secondary">{{shippment.region}}, {{shippment.city}} | {{shippment.address}} - {{shippment.adressInformation}} | +2 {{shippment.phoneNumber}}</p>
        </div>
       </div> 

       <br>
       <div class=" my-2  col-md-8 row section1">
        <div class="col-md-6"> <h6 class=" my-2"><i class="fa-solid fa-circle-check text-success"></i>  {{'payment.2.DELIVERY DETAILS' | translate}}</h6></div>
        <div class="col-md-6 text-end"><a href="" class="text-decoration-none"  [routerLink]="['/Cart']" >{{'payment.Change' | translate}} <i class="fa-solid fa-arrow-right"></i> </a></div>
        <div class="border-top ">
            <p class="my-0  pt-4">{{'payment.Door Delivery' | translate}}</p>
            <p class="mt-0 tb-5 text-secondary">{{'payment.Delivery between 20 April and 25 April' | translate}}</p>
        </div>
    </div> 
    <br>
    <div class="my-2 col-md-8 row section1">
      <div class="col-md-6">
          <h6 class="my-2"><i class="fa-solid fa-circle-check text-success"></i> {{'payment.3.PAYMENT METHOD' | translate}}</h6>
      </div>
      <form (ngSubmit)="ConfirmPayment()" #paymentForm="ngForm">
          <div class="border-top">
              <div class="check">
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="payment" id="paypal" value="Paypal" [(ngModel)]="selectedPayment">
                      <label class="form-check-label" for="paypal">
                          {{'payment.Paypal' | translate}}
                      </label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="payment" id="cash" value="Cash" [(ngModel)]="selectedPayment">
                      <label class="form-check-label" for="cash">
                          {{'payment.Cash' | translate}}
                      </label>
                  </div>
                  <div class="form-check">
                      <input class="form-check-input" type="radio" name="payment" id="mobileMoney" value="Mobile Money" [(ngModel)]="selectedPayment">
                      <label class="form-check-label" for="mobileMoney">
                        {{'payment.Mobile Money' | translate}}
                      </label>
                  </div>
              </div>
              <div class="col-12 d-flex justify-content-end mb-4">
                  <button type="submit" class="btn btn-warning text-white mt-4 shadow rounded save">{{'payment.Confirm Payment Method' | translate}}</button>
              </div>
          </div>
      </form>
  </div>
    </div>
 </div>
 

