<div  class="container-fluid ">
    <div class="row justify-content-md-center">
        <div class="col-5 align-items-center text-center">
          <form (submit)="signIn(newUser.userName,newUser.Password)" #loginForm="ngForm" >
            <div class="logo mb-3 d-flex justify-content-center ">
                <img src="assets/FooterImg/star.png" alt="" style="width: 12%;" >
            </div>
            <div class=" mt-2 mb-3 ">
               <h1><strong>Welcome to Jumia</strong> </h1>
               <p>Type your e-mail or phone number to log in or create a Jumia account.</p>
            </div>
            
           <div class="field">
                <label>
                 <input type="text" placeholder= ""required pattern="^[a-zA-Z]{3,50}$" #UserName="ngModel" name="userName"  [(ngModel)]="newUser.userName" >
                 <p>Enter Your Name *</p>
               </label>
               <div id="emailHelp" class="form-text text-danger" [hidden]="UserName.valid || UserName.untouched">
                @if(UserName.errors?.['required']){
                  <p>Required</p>
                }
                @if(UserName.errors?.['pattern']){
                <p>Your name should be between 3 and 50 characters long and contain only letters.</p>
                }
              </div>
             </div>
            
             <div class="field">
                <label>
       
                 <input type="password" placeholder=" " required #pass="ngModel" name="Password"  [(ngModel)]="newUser.Password">
                 <p>Password *</p>
               </label>
             </div>
             <div id="emailHelp" class="form-text text-danger" [hidden]="pass.valid || pass.untouched">
                @if(pass.errors?.['required']){
                  <p>Required</p>
                }
                @if(pass.errors?.['pattern']){
                <p>Enter Valid Password.</p>
                }
              </div>
              <input type="text" hidden  #id="ngModel" name="id"  [(ngModel)]="newUser.id">
            <div class="mt-5">
                <button class="btn-Cont" [disabled]="loginForm.invalid"  >Login</button>
            </div>
            <div class=" mb-5 my-3 h5">
                <!-- <p>By continuing you agree to Jumia’s</p> -->
                <a  class="text-warning  "href="https://my.jumia.com.eg/interaction/yBqhTo1NvHieltXlZ3niU/en-eg/terms-and-conditions" target="_blank">Forget Your Password?</a>
            </div>


            <!-- <div class=" mb-5">
                <button type="button" class="btn-Login ">Login with passkey</button>
            </div>

            <div class=" mb-5">
              
                <button type="button" class="btn btn-primary" (click)="signIn(newUser.userName,newUser.Password)" style="background-color: rgb(54, 54, 230); width: 80%;"><i class="fab fa-facebook-f"></i><span>  Login with facebook</span></button>
          

            </div> -->
     
            <div class="mb-3">
                <p>For further support, you may visit the Help Center or contact our customer service team.</p>
            </div>
            <div class="mb-3 d-flex justify-content-center  ">
                <img src="assets/FooterImg/JumiaLogo.png" style="width: auto; height: 15px;">
            </div>

          </form>
</div>
</div>
</div>