
<!-- Cart with Items -->
<div class="row "  [class.rtl]="isArabic">


 
    <div class="card col-8   my-4 "  >
      
   
      <div class="row card-body"  >
  
        <div class="col-3">
          <img [src]="( product.images[0])" alt="Product Image">
          <!-- <img src="assets/ProductImg/1.jpg" style="height: 250px; width: auto;"> -->
          <div>

            <!-- <div *ngFor="let image of product?.images">
              <img [src]="(image)" alt="Product Image" style="height: 35px; width: auto;">
            </div> -->
          </div>
        </div>
        <div class="col-9 ">
<div class="row">
    <div class="col-12">
        <p class="mb-1 h4"><small>{{ isArabicLanguage() ? product.nameAr : product.name }}{{ product.shortDescription }}</small> </p>

        <hr>

    </div>
    <div class="col-12 ">
        <p > <strong class="h3 px-2">{{'details.EGP' | translate}} {{ product.realPrice }}</strong>
            <del class=" px-2">{{'details.EGP' | translate}}  {{product.realPrice}}</del>
             <strong class="offer-cards p-1">   -{{product.discount}}%</strong>
        </p> 
    </div>
    <div class="col-12 ">
        <p > 
            <small class=" p-1">  {{'details.Shipping fees from EGP 20.00 to 6th of October (free delivery if order above EGP 200.00). Save 10 EGP on shipping with prepaid payment' | translate}}</small>
       </p> 
            
       <div class="stars">
        <i class="fa fa-star "></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa text-secondary">(44)</i>
    </div>
    <img [src]="( product.images[0])" style="height: 100px; width: auto;">
    <div >
      <h3>{{'details.VARIATION AVAILABLE' | translate}}</h3>
      <br>
      <span class="specs" *ngFor="let s of sizeSpecs">{{ s }}</span>
    </div>
    <br>
    <div class="col-12">
        <button class="btn w-100 text-white" >
          <i class="fa fa-solid fa-shopping-cart " ></i><strong class="px-2">{{'details.Add To Cart' | translate}}</strong>
        </button>
    </div>
    </div>
</div>

          

          
        
        
           
            
        </div>
      </div>
      
    </div>
    <!-- cart Sammary  -->
    <div class="col-3 float-end ">
      <div class="card mb-3 my-4" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>{{'details.DELIVERY & RETURNS' | translate}}</strong> </li>
          <li class="list-group-item">
            <ul class=" ">
              <li class="me-5 ">{{'details.Door Delivery' | translate}}</li>
              <li  class=" "><small>{{'details.Ready for delivery between 21 April & 22 April when you order within next 6hrs 19mins' | translate}}</small> </li>
            </ul>
          </li>
          <li class="list-group-item">
            <ul class=" ">
              <li class="me-5 ">{{'details.Return Policy' | translate}}</li>
              <li  class=" "><small>{{'details.Free return within the legal return period from 14 to 30 days, and if they meet the terms & conditions, with the need to report any apparent defect within 48 hours. For more details about return policy.' | translate}}</small> </li>
            </ul>
          </li>
          <ul>
            <li class="m-2">
              <p><small>{{'details.Missing EGP 151.00 to reach free delivery' | translate}}</small> </p>
            </li>
            <li class="m-2"> <img src="assets/cart.jpg" style="width: 40%;"></li>
          </ul>
        </ul>
        <div class="card-footer  ">
         
        </div>
      </div>
    </div>
  </div>




  <div class="col-8 card  details "  [class.rtl]="isArabic"> 
    <h1 class="border-bottom">{{'details.Product Details' | translate}}</h1>
    <div>
      <h3>{{'details.Specfications' | translate}}</h3>
      <ul>
        
        <li class="" *ngFor="let spec of AllSpecs">
            <span class="specName" >{{ spec.specificationName }}:</span> <span> {{ spec.value }}</span>
        </li>
    </ul>
    </div>

  </div>
  
























