
@model Jumia.Dtos.Product.CreateOrUpdateProductDto
<div class="row">
@foreach (var spec in ViewBag.subCategorySpecs)
{
   
                             <div class="col-md-4">
    <label asp-for="SubSpecId">@spec.SpecificationName</label>
   <br />
    <input type="text" name="Value" value="" id="spec_Value">
   </div>
}
</div>