@model Jumia.Dtos.Product.CreateOrUpdateProductDto

@{
    Layout = "_Layout";
    ViewData["Title"] = "Create";
    // Layout = "_Layout";
    SelectList list = new SelectList(ViewBag.SubCategory, "Id", "Name");
    SelectList list2 = new SelectList(ViewBag.brand, "BrandID", "Name");
}


<h1>Create</h1>
<hr />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<div class="row">
    <div class="col-md-4">
        <form  asp-action="Create" asp-controller="Product" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label"> @AdminDashBoard.Languages.Resource.English_Name</label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" style="color:red"></span>

            </div>
            <div class="form-group">
                <label asp-for="NameAr" class="control-label"></label>
                <input asp-for="NameAr" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LongDescription" class="control-label"></label>
                <input asp-for="LongDescription" class="form-control" />
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockQuantity" class="control-label"></label>
                <input asp-for="StockQuantity" class="form-control" />
                <span asp-validation-for="StockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealPrice" class="control-label"></label>
                <input asp-for="RealPrice" class="form-control" />
                <span asp-validation-for="RealPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label"></label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubCategoryID" class="form-label">SubCategory</label>
                <select asp-for="SubCategoryID" asp-items="list" class="form-select" id="subCategorySelect"></select>
                <input name="selectedSubCategoryId"  class="form-control" hidden />
            </div>

           
           
            <div id="subCategorySpecsContainer" style="display: none;">
                <h3>Specifications</h3>
                @Html.Partial("_SubCategorySpecsPartial")
                </div>
            <div class="form-group">
                <label asp-for="BrandID" class="form-label">Brands</label>
                <select asp-for="BrandID" asp-items="list2" class="form-select"></select>
            </div>
            

         
            <div class="mb-3">
                <label class="form-label">Image</label>
                <input asp-for="Images" type="file" class="form-control" multiple>
                <span asp-validation-for="Images" style="color:red"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetPagination">Back to List</a>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-red alert-dismissible fixed-top align-items-center" role="alert" id="customAlert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <svg class="bi flex-shrink-0 " width="24" height="15px" role="img" aria-label="Info:"><use xlink:href="#info-fill" /></svg>
        <div>
            @AdminDashBoard.Languages.Resource.FailedTODelete
        </div>
    </div>
} 
<script>
    $(document).ready(function () {
        $('#subCategorySelect').change(function () {
           
            var selectedSubCategoryId = $(this).val();
            $('input[name="selectedSubCategoryId"]').val(selectedSubCategoryId);
            $.ajax({
                url: '/Product/Action', // Replace with your controller and action method
                type: 'GET',
                data: { selectedSubCategoryId: selectedSubCategoryId },
                success: function (data) {
                    $('#subCategorySpecsContainer').html(data);
                    $('#subCategorySpecsContainer').show();
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });

            // $.ajax({
            //     url: '/Product/Create',
            //     type: 'POST',
            //     data: { selectedSubCategoryId: selectedSubCategoryId },
            //     success: function (data) {
            //         // Handle success for Action2 if needed
            //     },
            //     error: function (xhr, status, error) {
            //         console.log(error);
            //     }
            // });
        });
    });
</script>