@using Jumia.Dtos.AccountDtos
@{
    ViewBag.Title = "Login";
    // ViewBag.icon = "About.png";
}
@model LoginDtos
@{
    Layout = "_AccountLayout";
}






<div class="center">
    <div class="contn">
    <form asp-action="Login" method="post" class="form">
        <h1>Login</h1>
        <div class="form-field">
            <input type="text" placeholder="Enter Username" asp-for="Username" />
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-times-circle"></i>
            <small> <span asp-validation-for="Username" style="color: red"></span></small>
        </div>

        <div class="form-field">
            <input type="password" placeholder="Password" name="password" id="password" />
            <small> <span asp-validation-for="Password" style="color: red"></span></small>

                @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
                {
                    <small> <span style="color: red">  @ViewData["ErrorMessage"]</span></small>
                    
                }

               
        </div>
        <div class="form-field">
            <button type="submit"  class="btne">Login</button>
        </div>
    </form>
</div>

</div>




