@using Jumia.Dtos.AccountDtos
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AccountLayout";
}
@model RegisterDtos
<div class="center">
    <div class="contn">
    <form  method="post" class="form">
      <h1>Sign Up</h1>
      <div class="form-field">
        <input type="text" placeholder="Enter Username" asp-for="Username" />
        <small> <span asp-validation-for="Username" style="color: red"></span></small>
      </div>

      <div class="form-field">
        <input type="text" placeholder="Enter Email"  asp-for="Email" />
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-times-circle"></i>
        <small> <span asp-validation-for="Email" style="color: red" ></span></small>
      </div>

      <div class="form-field">
        <input type="text" placeholder="Enter Phone"  asp-for="Phone" />
        <i class="fas fa-check-circle"></i>
        <i class="fas fa-times-circle"></i>
        <small>   <span asp-validation-for="Phone" style="color: red"></span></small>
      </div>

      <div class="form-field">
        <input type="password" placeholder="Password" asp-for="Password"/>
        <small> <span asp-validation-for="Password" style="color: red"></span></small>
      </div>

      <div class="form-field">
        <input type="password" placeholder="Confirm Password"  asp-for="Confirmpass" />
        <small> <span asp-validation-for="Confirmpass" style="color: red"></span></small>
      </div>

      <div class="form-field">
                <button type="submit" class="btne">Sign Up</button>
      </div>
    </form>
  </div>
  </div>


