<div  class="container-fluid bg-light">
    <div class="row bg-light">
<div class="col"><h3>More to explore</h3></div>

<div class="col" style="text-align: right;">    <a href=""><h4>See All > </h4></a>    </div>       </div>


<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <div class="row">
      <div class="col-3">
        <div class="card d-block w-100">
            <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/45/125043/1.jpg?7670" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build  of the card's content.</p>
              <br>
              <h6>EGP 1,5060</h6>
            </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card d-block w-100" >
            <div style="position: absolute;;; background-color: bisque;">-26%</div>
        <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/60/574093/1.jpg?4640" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Eva Care Skin Care Senses Body Splash</p>
          <h6>EGP 152.00</h6>
          <p style="text-decoration: line-through;">EGP 205.00</p>
        </div>
      </div>     
          </div>
    <div class="col-3">
        <div class="card d-block w-100" >
            <div style="position: absolute; background-color: bisque;">-37%</div>
            <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/44/532722/1.jpg?6899" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Axe Body Spray for Men Black Night 150ML</p>
              <h6>EGP 79.00</h6>
              <p style="text-decoration: line-through;">EGP 126.00</p>
            </div>
        </div>   
                 </div>
        <div class="col-3">
            <div class="card d-block w-100">
                <div style="position: absolute; background-color: bisque;">-20%</div>
                <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/51/007016/1.jpg?7116" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">LC Waikiki Crew Neck Printed Boy Pajama.</p>
                  <h6>EGP 359.00</h6>
                  <p style="text-decoration: line-through;">EGP 449.00</p>
                </div>
            </div> 
              </div>
    </div>
  </div>
  <div class="carousel-item">
    <div class="row">
      <div class="col-3">
        <div class="card d-block w-100" >
            <div style="position: absolute; background-color: bisque;">-30%</div>
            <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/50/988394/1.jpg?1139" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Defacto Woman Oversize Fit Shirt Neck Woven </p>
              <h6>EGP 489.00</h6>
              <p style="text-decoration:line-through;">EGP 699.00</p>
            </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card d-block w-100" >
            <div style="position: absolute; background-color: bisque;">-49%</div>
            <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/88/254344/1.jpg?8886" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Caesar Wool Mens Pullover With Multi Design</p>
              <h6>EGP 228.00</h6>
              <p style="text-decoration:line-through;">EGP 450.00</p>
            </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card d-block w-100">
            <div style="position: absolute; background-color: bisque;">-49%</div>
            <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/48/100685/1.jpg?8888" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Caesar Wool Mens Pullover With Multi Design</p>
              <h6>EGP 228.00</h6>
              <p style="text-decoration:line-through;">EGP 450.00</p>
            </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card d-block w-100">
            <div style="position: absolute; background-color: bisque;">-49%</div>
            <img src="https://eg.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/51/095712/1.jpg?8181" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Caesar Wool Mens Pullover With Multi Design</p>
              <h6>EGP 228.00</h6>
              <p style="text-decoration:line-through;">EGP 450.00</p>
            </div>
        </div>
      </div>
    </div>
   
  </div>
  <!-- Add more carousel items as needed -->
  <button class="carousel-control-prev col-1" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next col-1" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
</div>
