a{text-decoration: none;
    color: black;}
    .card {
  
 transition: transform 0.5s;
 margin-top: 1rem;
}

    .card:hover{
       
transform: scale(1.1);


    }

    
/* Extra small devices (phones) */
@media only screen and (max-width:590px) {
 .col-3{
    width: 50%;
 }
    
  
  
    }
    
 /* Small devices (portrait tablets and large phones) */
@media only screen and (min-width:600px) and (max-width:884px) {
      
    .col-3{
        width: 25%;
    
    }

}
    